.cluster .header,
.settings-cluster .header,
.material .recommended-header,
.cluster.material-cluster .header h2.title {
	color: $font_primary;
}

.cluster.material-cluster .header span.subtitle {
	color: $font_secondary;
}

.material-playlist-container {
	background: $background_page;
}

.material .song-row td,
.material .upload-progress-row td {
	background: $background_page;
	color: $font_primary;
}

.song-table th,
.material .song-table [data-col="title"],
.material .song-table.mini [data-col="song-details"] .song-title {
	color: $font_primary;
}

.material .cluster-text-protection {
	background: $background_dark;

	&:before {
		background: $background_dark;
	}
}

.song-row .fade-out:after,
.material .song-row .fade-out:after {
	background: linear-gradient( to right, rgba($background_page, 0) 0%, rgba($background_page, 0.999) 100% );
}