/*
 *
 * Play Midnight for Google Play Music
 * by Chris Tieman
 *
 */

// Colors
$accent: #fb8521 !default; // Primary elements, play slider, loading
$font_primary: #dcdcdc; // Titles
$font_secondary: #666; // Secondary information
$primary: #141517; // Main backgrounds
$border: #111;

// Variables
$short_name: 'default' !default;
$spritesheet_url: '../images/sprites/play-sprites-' + $short_name + '.png';
$spritesheet_dimensions: 3079px 727px; // Retina Size

// Directories
$sprites_thumbs: '../images/thumbs/';
$sprites_stars: '../images/stars/';
$sprites_iflr: '../images/iflr/';
$sprites_animations: '../images/animators/';


// Main Background
body {
	background-color: $primary;
	color: lighten($font_secondary, 8%);
}



// GoogleOne Bar
#oneGoogleWrapper {
	// Main Background
	& > div > div {
		background: lighten($primary, 13%);
	}

	// Logo
	& > div > div > div:nth-child(2) > div span {
		background-image: url('../images/play_logo_x2.png') !important;
	}

	& > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
		// Search Bar
		fieldset:nth-child(2) > div > div {
			background: lighten($primary, 3%);
			border: 1px solid darken($primary, 3%);
			border-right: none;
			border-radius: 2px 0 0 2px;

			input[name="q"] {
				color: darken($font_primary, 2%);
			}
		}

		// Search Button
		div > button {
			background: lighten($primary, 20%);
		}
	}

	// Plus and Share Links
	& > div > div > div:nth-child(1) {
		& > div:nth-child(1) > div a,
		& > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) > a {
			color: $font_primary !important;
		}

		// Share Button
		& > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) > a {
			background-color: lighten($primary, 20%);
		}
	}
}



// Scrollbar
::-webkit-scrollbar {
	width: 8px;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.4);

	&:hover {
		background-color: rgba(0, 0, 0, .0);
		box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
	}

	&:horizontal:hover {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
	}

	&:active {
		background-color: rgba(0, 0, 0, .05);
		box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
	}

	&:horizontal:active {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
	}
}

::-webkit-scrollbar-thumb {
	background-color: rgba( 255, 255, 255, 0.1 );
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

	&:horizontal {
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
	}

	&:hover {
		background-color: rgba( 255, 255, 255, 0.25 );
		box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
	}

	&:active {
		background-color: rgba( 255, 255, 255, 0.3 );
		box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
	}
}




// Embed Frame (By Now Playing)
#embed-container {
	visibility: hidden;
}



// Loading Screen
#loading-progress {
	background-color: $primary;
}

#loading-progress-message {
	color: $font_secondary;
}

#loading-progress-bar {
	background: lighten($primary, 2%);
	border: 1px solid darken($primary, 2%);
}

#current-loading-progress {
	background: $accent;
}



// Play Music Title
.music-banner {
	background-color: $accent;
}

.music-banner-title {
	color: #fff;
}

.subscription .music-banner-title {
	margin-top: 5px;
}

.subscription #music-banner-subtitle {
	color: #fff;
}



// Header/Title Area
#headerBar, #breadcrumbs, .nav-bar, #nav {
	background-color: lighten($primary, 6%);
}

#headerBar {
	border-bottom: 1px solid darken($primary, 10%);

	.tab-text, .tab-text.has-parent {
		color: $font_primary;
	}
}

.header-tab-title {
	color: $font_primary;
}

.header-tab-title.selected {
	color: #fff;
	background: rgba($primary, 0.6);
	border-bottom: 3px solid darken($primary, 5%);
}



// Main Content
#content, #main, .g-content, div.nerd-panel, #music-content {
	background-color: $primary;
}



// Cards
.card {
	background-color: lighten($primary, 6%);
	color: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	border-radius: 4px;

	.title {
		color: $font_primary;
	}

	.sub-title {
		color: $font_secondary;
	}

	.reason {
		border-top: 1px solid lighten($primary, 7%);

		.content {
			color: $font_secondary;
		}
	}

	.hover-overlay {
		border-radius: 0;
	}

	.explicit {
		background: transparent;
		color: #600;
	}
}



// Sidebar/Nav
.nav-item-container {
	color: $font_primary;
}

.nav-section-header {
	color: $font_secondary;
}

.nav-section-divider {
	border: 1px solid lighten($primary, 7%);
}

#nav_collections .nav-item-container:focus, .nav-item-container:focus, .nav-item-container:hover, .nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected:focus .playlistDropDown, .nav-item-container.selected:focus .playlistDropDown:hover, .playlistDragTarget {
	background-color: lighten($primary, 8%);
}

.nav-item-container:focus .fade-out:after, .nav-item-container:hover .fade-out:after, .nav-item-container.selected:focus .fade-out:after, .playlistDragTarget .fade-out:after {
	background: linear-gradient( to right, rgba(lighten($primary, 8%), 0) 0%, lighten($primary, 8%) 100% );
}

.fade-out:after, .now-playing-menu-wrapper.fade-out:after {
	background: linear-gradient( to right, rgba(lighten($primary, 6%), 0) 0%, lighten($primary, 6%) 100% );
}

#nav_collections .nav-item-container.selected, #nav_collections .nav-item-container.selected:focus, .nav-item-container.selected, .nav-item-container.selected:focus {
	color: $font_primary;
	background: lighten($primary, 8%);
	border-left: 3px solid $accent;
	text-indent: 27px;
}

#nav_collections .nav-item-container.selected:focus, .nav-item-container.selected:focus, .nav-item-container:hover {
	background: lighten($primary, 8%);
}

.transfer-status-indicator {
	background: lighten($primary, 6%);
	border-top: 1px solid #000;
	color: $font_primary;
}



// Standard Page Headers
.section-header, .cluster .header .title, .settings-cluster .header .title, .recommended-header {
	color: $font_secondary;
}
.situations-background {
	background-color: $accent;
	opacity: 0.75;
}
.situations-container .cluster .header .title {
	color: #fff;
}



// Player
#player {
	background-color: lighten($primary, 6%);
}

.player-middle {
	background-color: lighten($primary, 6%);
}

#top_divider_line {
	background-color: $primary;
}

.playing-progress-background {
	background: $primary;
}

#player.active:hover .playing-progress-background {
	background: lighten($primary, 10%);
}

#played_slider, #slider .played-progress {
	background: $accent;
}

#time_container_current {
	background: $accent;
	color: #fff;
}

#time_container_duration {
	background: $primary;
	color: #fff;
}

#playerSongTitle {
	color: $font_primary;
}

#player-artist, .player-album, .player-dash {
	color: $font_secondary;
}

.now-playing-menu-wrapper {
	background: lighten($primary, 6%);
}

#player [data-id="now-playing-menu"] {
	background-color: lighten($primary, 6%);
	border: 1px solid lighten($primary, 6%);
}

.song-row .hover-button[data-id="menu"]:hover,
#player [data-id="now-playing-menu"]:hover {
	border-color: lighten($primary, 8%);
}

#player [data-id="now-playing-menu"]:active {
	background-color: lighten($primary, 8%);
}

#player .flat-button:active, #player .flat-button:focus, #player .flat-button:hover, #volume:hover, #volume.simulated-hover, #player .rating-container.thumbs li.selected:hover, #player .rating-container.thumbs li:hover {
	background-color: lighten($primary, 8%) !important;
}



// Song List Table
.album-details {
	overflow: hidden;
}

.read-more-button-wrapper.fade-out {
	background: $primary;
}

.song-table th, .settings-devices-table th {
	color: $font_primary;
	border-bottom: 1px solid $primary;
}

.song-table th:hover {
	background: lighten($primary, 5%);
}

.album-view .explicit,
.song-row .explicit {
	background: transparent;
	color: #600;
}

.song-row .fade-out:after, .fade-out.gray:after {
	background-image: linear-gradient(to right, rgba($primary, 0) 0%, $primary 100% );
}

.song-row td, .song-row td[data-col="track"], .settings-devices-table td, .upload-music-page ul {
	background: $primary;
	color: darken($font_primary, 25%);
	border-bottom: 1px solid lighten($primary, 5%);
}

.selected-song-row td, .song-row.hover, .song-row.hover td {
	background-color: lighten($primary, 4%) !important;
}

.song-row.hover [data-col="track"] .content {
	color: $primary;
}
.song-row.currently-playing td, .song-row.currently-playing td[data-col="title"] {
	color: $font_primary;
}
.song-row.selected-song-row .fade-out:after, .song-row.hover .fade-out:after {
	background-image: linear-gradient(to right, rgba(lighten($primary, 4%), 0) 0%, lighten($primary, 4%) 100% );
}



// Buttons
.button, .simple-dialog-buttons button, .button.small {
	background-color: $font_primary;
	color: $primary;
	cursor: pointer;
}

.button.primary, button.goog-buttonset-default, .edit-playlist .goog-buttonset-default {
	background-color: $accent !important;
	color: #fff;

	&:hover {
		background-color: lighten( $accent, 8% ) !important;
		box-shadow: none;
	}
}



// Menus
.goog-menu, .now-playing-menu.goog-menu {
	background-color: lighten($primary, 6%);
	border: 1px solid #111 !important;
}

.goog-menuheader {
	color: $font_secondary;
}

.goog-menuitem, .now-playing-menu .goog-menuitem .goog-menuitem-content, .goog-menuitem-content, .extra-links-menu .goog-menuitem-content {
	color: $font_primary;
}

.goog-menuitem-highlight .goog-menuitem-content .goog-submenu-arrow, .goog-menuitem-highlight .goog-menuitem-content {
	color: #fff !important;
}

.now-playing-menu .goog-menuitem, .now-playing-menu .goog-submenu, .now-playing-menu .goog-submenu .goog-submenu-arrow, .goog-menuitem {
	background-color: lighten($primary, 6%);
}

.labs-view .labs {
	border-top: 1px solid lighten($primary, 5%);
}

.labs-view .lab {
	border-bottom: 2px solid lighten($primary, 5%);
}

.header-tab-spacer {
	background: lighten($primary, 7%);
}



// Dialog Box
.simple-dialog-bg, .zoomable-image-dialog-bg, .zoomable-image-dialog {
	background: lighten($primary, 15%);
}

.zoomable-image-dialog {
	border: 1px solid $border;
}

.regularLoadingOverlay, .regular-loading-overlay, #loading-overlay[data-type="full-loading-overlay"], #loading-overlay[data-type="regular-loading-overlay"] {
	-moz-opacity: .8;
	opacity: .8;
	filter: alpha(opacity=80);
	background: lighten($primary, 15%) url( $sprites_animations + 'ani_loading_dark_big.gif') no-repeat center center;
}

.ifl-loading-overlay, #loading-overlay[data-type="ifl-loading-overlay"] {
	-moz-opacity: .8;
	opacity: .8;
	filter: alpha(opacity=80);
	background-color: lighten($primary, 15%);
}

.simple-dialog, .simple-dialog-title, .simple-dialog-content, .simple-dialog.more-text, .upload-dialog {
	background: $primary;
	color: darken($font_primary, 2%);
}

.upload-dialog-dragover {
	border-color: $accent;
}

.upload-dialog-dragover .upload-dialog-description {
	color: $accent !important;
}

.simple-dialog, .simple-dialog.more-text {
	border: 1px solid darken($primary, 5%);
}

.simple-dialog input[type="text"], #share-playlist-popup input[type="text"], .simple-dialog textarea {
	background: lighten($primary, 3%);
	border: 1px solid darken($primary, 3%);
	color: darken($font_primary, 2%);

	&:focus {
		outline: none;
		border: 1px solid lighten($primary, 10%);
	}
}



// SIgn-Up Page
#signup-full-bg, .upload-dialog-bg {
	background: $primary;
}

#signup-full .banner, .upload-dialog-title {
	background: $accent;
}



// Sprites
.song-row .song-indicator {
	background-image: url( $sprites_animations + 'ani_equalizer_black.gif');
}
.card[data-playback-status="playing"] .overlay-icon {
	background: url( $sprites_animations + 'ani_equalizer_white.gif');
}
.goog-menuheader .spinner {
	background: transparent url( $sprites_animations + 'ani_loading_dark.gif') no-repeat center center;
}
.song-row .song-indicator[data-playback-status="loading"] {
	background: url( $sprites_animations + 'ani_loading_dark.gif');
	background-color: inherit;
}
.song-row [data-col="track"] .hover-button[data-id="play"] {
	background: no-repeat url( $spritesheet_url ) -902px -130px;
}
.header-row [data-col="duration"] .icon {
	background: no-repeat url( $spritesheet_url ) -1598px -498px;
}
.header-row [data-col="play-count"] .icon {
	background: no-repeat url( $spritesheet_url ) -802px -70px;
}
.song-row .rating-container.thumbs [data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -3882px -1044px;
}
.song-row .rating-container.thumbs [data-rating="5"]:hover {
	background: no-repeat url( $spritesheet_url ) -230px -1184px;
}
.song-row .rating-container.thumbs [data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -5060px -926px;
}
.song-row .rating-container.thumbs [data-rating="1"]:hover {
	background: no-repeat url( $spritesheet_url ) -582px -1184px;
}
.song-row .rating-container {
	float: left;
}
#player [data-id="now-playing-menu"] {
	background: no-repeat url( $spritesheet_url ) -4786px -926px;
}
#player .flat-button[data-id="rewind"] {
	background: no-repeat url( $spritesheet_url ) -3472px 0;
}
#player .flat-button[data-id="forward"] {
	background: no-repeat url( $spritesheet_url ) -5212px -1356px;
}
#player .flat-button[data-id="play-pause"] {
	background: no-repeat url( $spritesheet_url ) -2310px -162px;
}
#player .flat-button[data-id="play-pause"].playing {
	background-position: -3006px -224px;
}
#player .flat-button[data-id="shuffle"] {
	background: no-repeat url( $spritesheet_url ) -2310px -872px;
}
#player .flat-button[data-id="shuffle"][value="NO_SHUFFLE"] {
	background: no-repeat url( $spritesheet_url ) -2310px -872px;
}
#player .flat-button[data-id="repeat"][value="NO_REPEAT"] {
	background: no-repeat url( $spritesheet_url ) -5060px -1300px;
}
#player .flat-button[data-id="cast"] {
	background: no-repeat url( $spritesheet_url ) -4997px -1110px;
}
#player .connected[data-id="cast"] {
	background: no-repeat url( $spritesheet_url ) -4577px -1246px;
}
#volume_low {
	background: no-repeat url( $spritesheet_url ) -5830px -724px;
}
#volume_high {
	background: no-repeat url( $spritesheet_url ) -5404px -926px;
}
#player .rating-container.thumbs [data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -1516px -424px;
}
#player .rating-container.thumbs [data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -3984px -976px;
}
.nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected:focus .playlistDropDown, .nav-item-container.selected:focus .playlistDropDown:hover {
	background: no-repeat url( $spritesheet_url ) -1762px -564px;
}
.simple-dialog-title-close:after {
	background: no-repeat url( $spritesheet_url ) -3606px -146px;
}
.simple-dialog.get-link .link-line .icon {
	background: no-repeat url( $spritesheet_url ) -212px -1184px;
}
#uploading-dropdown {
	background: no-repeat url( $spritesheet_url ) -2592px 0;
}
.dropdown-icon {
	background: no-repeat url( $spritesheet_url ) -3578px -1018px;
}
#player .flat-button[data-id="queue"] {
	background: no-repeat url( $spritesheet_url ) -1774px -934px;
}
#player .flat-button[data-id="queue"].selected {
	background-position: -2946px -156px;
}
#player .flat-button[data-id="show-miniplayer"] {
	background: no-repeat url( $spritesheet_url ) -1352px -1026px;
}
.song-row [data-col="rating"][data-rating="4"], .song-row [data-col="rating"][data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -2600px -422px;
}
.song-row [data-col="rating"][data-rating="1"], .song-row [data-col="rating"][data-rating="2"] {
	background: no-repeat url( $spritesheet_url ) -3494px -146px;
}
#player .rating-container.stars {
	background: url( $sprites_stars + 'btn_player_rating_star_off.png' ) left center repeat-x;
}
.goog-menuitem .rating-container.stars {
	background: url( $sprites_stars + 'btn_list_rating_star_off.png') left center repeat-x;
}
#player .rating-container:hover .background {
	visibility: hidden;
}
.song-row .stars[data-col="rating"][data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -1822px -892px;
}
.song-row .stars[data-col="rating"][data-rating="2"] {
	background: no-repeat url( $spritesheet_url ) -716px -1026px;
}
.song-row .stars[data-col="rating"][data-rating="3"] {
	background: no-repeat url( $spritesheet_url ) -2682px -690px;
}
.song-row .stars[data-col="rating"][data-rating="4"] {
	background: no-repeat url( $spritesheet_url ) -1598px -190px;
}
.song-row .stars[data-col="rating"][data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -5108px -860px;
}
.song-row .rating-container.thumbs [data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -1862px -590px;
}
.song-row .rating-container.thumbs [data-rating="5"]:hover {
	background: no-repeat url( $spritesheet_url ) -230px -1184px;
}
.song-row .rating-container.thumbs [data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -4952px -724px;
}
.song-row .rating-container.thumbs [data-rating="1"]:hover {
	background: no-repeat url( $spritesheet_url ) -582px -1184px;
}
table:not(.multiple-selected) .song-row.hover .hover-button[data-id="menu"], table:not(.multiple-selected) .song-row.selected-song-row .hover-button[data-id="menu"], table.multiple-selected .song-row.hover:not(.selected-song-row) .hover-button[data-id="menu"] {
	background: no-repeat url( $spritesheet_url ) -1762px -564px;
}
.song-row .song-indicator[data-playback-status="paused"] {
	background: no-repeat url( $spritesheet_url ) -2310px -300px;
	background-color: inherit;
}
.ascending .sort-icon {
	background: no-repeat url( $spritesheet_url ) -5750px -952px;
}
.descending .sort-icon {
	background: no-repeat url( $spritesheet_url ) -6120px 0;
}
.goog-menuitem .get-link {
	background: no-repeat url( $spritesheet_url ) -212px -1184px;
}
.queue-details button[data-id="refresh"] .icon {
	background: no-repeat url( $spritesheet_url ) -3774px -706px;
}
.nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected:focus .playlistDropDown, .nav-item-container.selected:focus .playlistDropDown:hover {
	background: no-repeat url( $spritesheet_url ) -1762px -564px;
}
.nav-item-container.menu-displayed .playlistDropDown {
	background: no-repeat url( $spritesheet_url ) -1762px -564px;
}
#player .rating-container.thumbs [data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -1516px -424px;
}
#player .rating-container.thumbs [data-rating="5"].selected {
	background: no-repeat url( $spritesheet_url ) -1862px -590px;
}
#player .rating-container.thumbs [data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -3984px -976px;
}
#player .rating-container.thumbs [data-rating="1"].selected {
	background: no-repeat url( $spritesheet_url ) -4952px -724px;
}
.song-row .rating-container.thumbs [data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -3882px -1044px;
}
.song-row .rating-container.thumbs [data-rating="5"]:hover {
	background: no-repeat url( $spritesheet_url ) -230px -1184px;
}
.song-row .rating-container.thumbs [data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -5060px -926px;
}
.song-row .rating-container.thumbs [data-rating="1"]:hover {
	background: no-repeat url( $spritesheet_url ) -582px -1184px;
}
.song-row .hover-button[data-id="play"] {
	background: no-repeat url( $spritesheet_url ) -2816px -506px;
	background-color: rgba(0,0,0,0.8);
}
.song-row [data-col="index"] .hover-button[data-id="play"], .song-row [data-col="track"] .hover-button[data-id="play"] {
	background: no-repeat url( $spritesheet_url ) -2816px -506px;
	background-color: lighten($primary, 4%);
}
.song-row [data-col="track"] .hover-button[data-id="play"] {
	background: no-repeat url( $spritesheet_url ) -902px -130px;
}
.song-row [data-col="radio"] .radio-icon {
	background: no-repeat url( $spritesheet_url ) -3400px -910px;
}
.song-row .stars[data-col="rating"][data-rating="1"] {
	background: no-repeat url( $spritesheet_url ) -1822px -892px;
}
.song-row .stars[data-col="rating"][data-rating="2"] {
	background: no-repeat url( $spritesheet_url ) -716px -1026px;
}
.song-row .stars[data-col="rating"][data-rating="3"] {
	background: no-repeat url( $spritesheet_url ) -2682px -690px;
}
.song-row .stars[data-col="rating"][data-rating="4"] {
	background: no-repeat url( $spritesheet_url ) -1598px -190px;
}
.song-row .stars[data-col="rating"][data-rating="5"] {
	background: no-repeat url( $spritesheet_url ) -5108px -860px;
}
.song-row [data-col="wrench"].curation {
	background: no-repeat url( $spritesheet_url ) -1796px -196px;
}
.track-problem-indicator {
	background: no-repeat url( $spritesheet_url ) -3400px -936px;
}


// Accent Sprites
[data-type="imfl"] .image-wrapper {
	background: url( $sprites_iflr + 'ifl_album_art_' + $short_name + '.png' );

	img {
		display: none;
	}
}
[data-type="imfl"]:hover .image-wrapper {
	background: url( $sprites_iflr + 'ifl_album_art_ani_' + $short_name + '.gif' );
}
.goog-slider-track .goog-slider-thumb {
	background: no-repeat url( $spritesheet_url ) -5972px -1294px;
}
.goog-slider-volume .goog-slider-thumb {
	background: no-repeat url( $spritesheet_url ) -5756px -882px;
}
.goog-slider-volume .goog-slider-thumb:hover {
	background: no-repeat url( $spritesheet_url ) -3908px -910px;
}
#vslider .goog-slider-thumb {
	background: no-repeat url( $spritesheet_url ) -702px -1026px;
}
#volume_slider {
	background-color: $accent;
}
#player .flat-button[data-id="repeat"][value="LIST_REPEAT"] {
	background: no-repeat url( $spritesheet_url ) -3400px -1044px;
}
#player .flat-button[data-id="repeat"][value="SINGLE_REPEAT"] {
	background: no-repeat url( $spritesheet_url ) -2946px -50px;
}
#player .flat-button[data-id="shuffle"][value="ALL_SHUFFLE"] {
	background: no-repeat url( $spritesheet_url ) -4548px -724px;
}
.cluster.has-prev-page:hover .lane-button.prev {
	background: no-repeat url( $spritesheet_url ) -3724px -792px;
}
.cluster.has-next-page:hover .lane-button.next {
	background: no-repeat url( $spritesheet_url ) -1110px -44px;
}
.upload-dialog-dragover .upload-dialog-graphic {
	background: no-repeat url( $spritesheet_url ) -2360px 0;
}
.goog-menuitem .rating-container.stars li:hover {
	background: url( $sprites_stars + 'btn_list_rating_star_selected_hover_' + $short_name + '.png') left center repeat-x;
}
#player .rating-container.stars li:hover {
	background: url( $sprites_stars + 'btn_player_rating_star_on_' + $short_name + '.png') left center repeat-x;
}
#player .rating-container.stars .background {
	background: url( $sprites_stars + 'btn_player_rating_star_on_' + $short_name + '.png') left center repeat-x;
}
.song-row .rating-container.stars li:hover {
	background: url( $sprites_stars + 'btn_list_rating_star_on_' + $short_name + '.png') left center repeat-x;
}
.song-row [data-col="rating"][data-rating="4"], .song-row [data-col="rating"][data-rating="5"] {
	background: no-repeat url( $sprites_thumbs + 'btn_list_rating_thumb_up_' + $short_name + '.png') 12px 12px;
}
.song-row [data-col="rating"][data-rating="1"], .song-row [data-col="rating"][data-rating="2"] {
	background: no-repeat url( $sprites_thumbs + 'btn_list_rating_thumb_down_' + $short_name + '.png') 43px 12px;
}
.queue-details .imfl-image {
	background: url( $sprites_iflr + 'iflr_cover_' + $short_name + '.png');
}


// Retina-Display
@media screen and (-webkit-min-device-pixel-ratio:1.5), screen and (min--moz-device-pixel-ratio:1.5), screen and (-o-min-device-pixel-ratio:1.5), screen and (min-resolution:1.5dppx) {
	.simple-dialog-title-close: after {
		background: no-repeat url( $spritesheet_url ) -2969px -375px;
		background-size: $spritesheet_dimensions;
	}
	 .simple-dialog.get-link .link-line .icon {
	 	background: no-repeat url( $spritesheet_url ) -627px -513px;
	 	background-size: $spritesheet_dimensions;
	}
	#player [data-id="now-playing-menu"] {
		background: no-repeat url( $spritesheet_url ) -799px -212px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="rewind"] {
		background: no-repeat url( $spritesheet_url ) 0 -513px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="forward"] {
		background: no-repeat url( $spritesheet_url ) -2128px -463px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="play-pause"] {
		background: no-repeat url( $spritesheet_url ) -2443px -562px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="play-pause"].playing {
		background: no-repeat url( $spritesheet_url ) -2860px -50px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="shuffle"][value="NO_SHUFFLE"] {
		background: no-repeat url( $spritesheet_url ) -1503px -369px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="repeat"][value="NO_REPEAT"] {
		background: no-repeat url( $spritesheet_url ) -2056px -25px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="cast"] {
		background: no-repeat url( $spritesheet_url ) -2860px -25px;
		background-size: $spritesheet_dimensions;
	}
	 #player .flat-button[data-id="show-miniplayer"] {
		background: no-repeat url( $spritesheet_url ) -1824px 0;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="queue"] {
		background: no-repeat url( $spritesheet_url ) -1503px 0;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="queue"].selected {
		background: no-repeat url( $spritesheet_url ) -1657px -16px;
		background-size: $spritesheet_dimensions;
	}
	#volume_low {
		background: no-repeat url( $spritesheet_url ) -199px -513px;
		background-size: $spritesheet_dimensions;
	}
	#volume_high {
		background: no-repeat url( $spritesheet_url ) -1503px -73px;
		background-size: $spritesheet_dimensions;
	}
	#vslider .goog-slider-thumb {
		background: no-repeat url( $spritesheet_url ) -2862px -476px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="1"] {
		background: no-repeat url( $spritesheet_url ) -881px -241px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="2"] {
		background: no-repeat url( $spritesheet_url ) -367px -616px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="3"] {
		background: no-repeat url( $spritesheet_url ) -967px -397px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="4"] {
		background: no-repeat url( $spritesheet_url ) -2274px -392px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="5"] {
		background: no-repeat url( $spritesheet_url ) -1155px -109px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="5"] {
		background: no-repeat url( $spritesheet_url ) -1473px 0;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="5"]:hover {
		background: no-repeat url( $spritesheet_url ) -2193px -463px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="1"] {
		background: no-repeat url( $spritesheet_url ) -1271px -150px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="1"]:hover {
		background: no-repeat url( $spritesheet_url ) -530px -22px;
		background-size: $spritesheet_dimensions;
	}
	table.multiple-selected .song-row.hover:not(.selected-song-row) .hover-button[data-id="menu"] {
		background: no-repeat url( $spritesheet_url ) -2443px -537px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .song-indicator[data-playback-status="paused"] {
		background: no-repeat url( $spritesheet_url ) -2481px -463px;
		background-size: $spritesheet_dimensions;
	}
	.queue-details button[data-id="refresh"] .icon {
		background: no-repeat url( $spritesheet_url ) -1429px -253px;
		background-size: $spritesheet_dimensions;
	}
	 .nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected:focus .playlistDropDown, .nav-item-container.selected:focus .playlistDropDown:hover, .nav-item-container.menu-displayed .playlistDropDown {
		background: no-repeat url( $spritesheet_url ) -2443px -537px;
		background-size: $spritesheet_dimensions;
	}
	#player .rating-container.thumbs [data-rating="5"] {
		background: no-repeat url( $spritesheet_url ) -1300px -266px;
		background-size: $spritesheet_dimensions;
	}
	#player .rating-container.thumbs [data-rating="5"].selected {
		background: no-repeat url( $spritesheet_url ) -414px -513px;
		background-size: $spritesheet_dimensions;
	}
	#player .rating-container.thumbs [data-rating="1"] {
		background: no-repeat url( $spritesheet_url ) -1735px -468px;
		background-size: $spritesheet_dimensions;
	}
	#player .rating-container.thumbs [data-rating="1"].selected {
		background: no-repeat url( $spritesheet_url ) -451px -11px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="5"] {
		background: no-repeat url( $spritesheet_url ) -1473px 0;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="5"]:hover {
		background: no-repeat url( $spritesheet_url ) -2193px -463px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="1"] {
		background: no-repeat url( $spritesheet_url ) -1271px -150px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.thumbs [data-rating="1"]:hover {
		background: no-repeat url( $spritesheet_url ) -530px -22px;
		background-size: $spritesheet_dimensions;
	}
	.song-row [data-col="radio"] .radio-icon {
		background: no-repeat url( $spritesheet_url ) -2432px -512px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="1"] {
		background: no-repeat url( $spritesheet_url ) -881px -241px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="2"] {
		background: no-repeat url( $spritesheet_url ) -367px -616px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="3"] {
		background: no-repeat url( $spritesheet_url ) -967px -397px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="4"] {
		background: no-repeat url( $spritesheet_url ) -2274px -392px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .stars[data-col="rating"][data-rating="5"] {
		background: no-repeat url( $spritesheet_url ) -1155px -109px;
		background-size: $spritesheet_dimensions;
	}
	.song-row td[data-rating="undefined"] .rating-container.stars {
		background: url( $sprites_stars + 'btn_list_rating_star_off_2x.png') left center repeat-x;
		background-size: 13px 20px;
	}
	#player .rating-container.stars {
		background: url( $sprites_stars + 'btn_player_rating_star_off_2x.png') left center repeat-x;
		background-size: 19px 48px;
	}
	.song-row .stars:hover .rating-container.stars {
		background: url( $sprites_stars + "btn_list_rating_star_off_2x.png") left center repeat-x;
		background-size: 13px 20px;
	}
	.goog-menuitem .get-link {
		background: no-repeat url( $spritesheet_url ) -627px -513px;
		background-size: $spritesheet_dimensions;
	}
	.clearLoadingOverlay {
		background: transparent url( $sprites_animations + 'ani_loading_dark_big_x2.gif') no-repeat center center;
	}
	.regularLoadingOverlay {
		background: transparent url( $sprites_animations + 'ani_loading_dark_big_x2.gif') no-repeat center center;
	}
	.card[data-playback-status="playing"] .overlay-icon {
		background: transparent url( $sprites_animations + 'ani_equalizer_white_x2.gif');
	}
	.card[data-playback-status="loading"] .overlay-icon {
		background: transparent url( $sprites_animations + 'ani_loading_white_x2.gif');
	}



	// Accent Sprites
	.goog-slider-track .goog-slider-thumb {
		background: no-repeat url( $spritesheet_url ) -2862px -476px;
		background-size: $spritesheet_dimensions;
	}
	.goog-slider-volume .goog-slider-thumb {
		background: no-repeat url( $spritesheet_url ) -2041px 0;
		background-size: $spritesheet_dimensions;
	}
	.goog-slider-volume .goog-slider-thumb:hover {
		background: no-repeat url( $spritesheet_url ) -799px -34px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="repeat"][value="LIST_REPEAT"] {
		background: no-repeat url( $spritesheet_url ) -691px -27px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="repeat"][value="SINGLE_REPEAT"] {
		background: no-repeat url( $spritesheet_url ) -1354px -266px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="cast"] {
		background: no-repeat url( $spritesheet_url ) -2860px -25px;
		background-size: $spritesheet_dimensions;
	}
	#player .connected[data-id="cast"] {
		background: no-repeat url( $spritesheet_url ) -1900px -479px;
		background-size: $spritesheet_dimensions;
	}
	#player .flat-button[data-id="shuffle"][value="ALL_SHUFFLE"] {
		background: no-repeat url( $spritesheet_url ) -1603px 0;
		background-size: $spritesheet_dimensions;
	}
	.cluster.has-prev-page:hover .lane-button.prev {
		background: no-repeat url( $spritesheet_url ) -1528px -73px;
		background-size: $spritesheet_dimensions;
	}
	.cluster.has-next-page:hover .lane-button.next {
		background: no-repeat url( $spritesheet_url ) -2323px -511px;
		background-size: $spritesheet_dimensions;
	}
	.upload-dialog-dragover .upload-dialog-graphic {
		background: no-repeat url( $spritesheet_url ) -1578px -73px;
		background-size: $spritesheet_dimensions;
	}
	.song-row .rating-container.stars {
		background: url(  $sprites_stars + 'btn_list_rating_star_off_2x.png' ) left center repeat-x;
		background-size: 13px 20px;
	}
	#player .rating-container.stars li:hover {
		background: url( $sprites_stars + 'btn_player_rating_star_on_' + $short_name + '_2x.png') left center repeat-x;
		background-size: 19px 48px;
	}
	#player .rating-container.stars .background {
		background: url( $sprites_stars + 'btn_player_rating_star_on_' + $short_name + '_2x.png') left center repeat-x;
		background-size: 19px 48px;
	}
	.song-row .rating-container.stars li:hover {
		background: url( $sprites_stars + 'btn_list_rating_star_on_' + $short_name + '_2x.png') left center repeat-x;
		background-size: 13px 20px;
	}
	.song-row [data-col="rating"][data-rating="4"], .song-row [data-col="rating"][data-rating="5"] {
		background: no-repeat url( $sprites_thumbs+ 'btn_list_rating_thumb_up_' + $short_name + '_2x.png') 12px 12px;
		background-size: 18px 18px;
	}
	.song-row [data-col="rating"][data-rating="1"], .song-row [data-col="rating"][data-rating="2"] {
		background: no-repeat url( $sprites_thumbs + 'btn_list_rating_thumb_down_' + $short_name + '_2x.png') 43px 12px;
		background-size: 18px 18px;
	}
	.queue-details .imfl-image {
		background: url( $sprites_iflr + 'iflr_cover_' + $short_name + '_2x.png');
	}
}

// Sorting UI
#recent-sort {
	vertical-align: top;
	margin: 0 24px;
}


@import 'options';