<div class="playlist-drawer-item " data-type="ap" data-id="sound-search">
	<iron-icon icon="search" class="x-scope iron-icon-1">
		<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
			<g class="style-scope iron-icon"><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z" class="style-scope iron-icon"></path></g>
		</svg>
	</iron-icon>
	<sj-play-button data-id="play" size="mini" play-label="Play Sound search" pause-label="Pause Sound search" role="button" tabindex="0" animated="" playback-state="" aria-disabled="false" elevation="0" aria-label="Play Sound search" class="x-scope sj-play-button-0">
		<div id="pulse" class="style-scope sj-play-button"></div>
		<div id="buttonContent" class="style-scope sj-play-button">
			<svg id="icon" viewBox="0 0 24 24" class="style-scope sj-play-button">
				<path id="iconPath" d="M7.995000,18.9899999 13.68046871,15.4912499 13.68046871,8.49374997 7.995000,4.995000 Z M13.6804687,15.4912499 19.3659374,11.99249994 19.3659374,11.99249994 13.6804687,8.49374997 Z" class="style-scope sj-play-button"></path>
			</svg>
		</div>
		<paper-spinner-lite id="spinner" class="style-scope sj-play-button x-scope paper-spinner-lite-3" aria-hidden="true" hidden="">
			<div id="spinnerContainer" class="  style-scope paper-spinner-lite">
			  <div class="spinner-layer style-scope paper-spinner-lite">
				<div class="circle-clipper left style-scope paper-spinner-lite">
				  <div class="circle style-scope paper-spinner-lite"></div>
				</div><div class="gap-patch style-scope paper-spinner-lite">
				  <div class="circle style-scope paper-spinner-lite"></div>
				</div><div class="circle-clipper right style-scope paper-spinner-lite">
				  <div class="circle style-scope paper-spinner-lite"></div>
				</div>
			  </div>
			</div>
	  </paper-spinner-lite>
	</sj-play-button>
	<a class="playlist-wrapper" href=""><div class="playlist-title">Sound search</div></a>
</div>
