<div id="pm-options">
  <header>
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h1>Play Midnight <span>Options</span></h1>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="options">
    <div class="options-container">
      <!-- Options Here -->
    </div>
    <div class="save-dialog">Your options saved successfully! Reloading...</div>
  </section>

  <footer>
    <paper-button id="pm-save-options" class="material-primary" role="button" tabindex="0" no-focus="">Save Options</paper-button>
  </footer>
</div>
