<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hola! Just stopping by real quick with an update of some tiny things that have been tweaked/added. One new feature that was requested has been re-added and some small style tweaks were made.</p>

      <p>There were also a few small areas I forgot to style as well, so I've tied those up. I've tried to find all the little nooks that I may have missed, but if you notice anything I've missed don't hesitate to let me know.</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>New Features</h2>
        </div>

        <div class="featured-content">
          <h3>Recent Activity</h3>
          <p class="text-center">This re-adds the 'Recent Activity' option to your sidebar to see your recently added/played music.</p>
        </div>

        <div class="featured-header">
          <h2>Tweaks</h2>
        </div>

        <div class="featured-content">
          <h3>Song Status Indicators</h3>
          <p class="text-center">Fixed the buggy issues with the loading, playing, and paused status indicators on songs in your song table/queue list. This has always been an annoying area, so if you see any issues let me know!</p>

          <h3>Top Bar Icons</h3>
          <p class="text-center">Restyled the icons in the main title bar to be white rather than light gray.</p>

          <h3>Miscellaneous</h3>
          <p class="text-center">Few small updates to file structure and some small accent edits on the song dragging indicator and top edit bar.</p>
        </div>
      </div>

      <h2>Feedback</h2>

      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>

      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by <a href="https://www.paypal.me/datducky" target="_blank">buying me some much needed coffee</a>. Thanks again, Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn" role="button" tabindex="0" no-focus="">Hurray!</paper-button>
  </footer>
</div>
