<div class="play-midnight-notification">
    <header class="modal-header">
        <div class="image-header">
            <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
        </div>
        <h2>Play Midnight <em>Material</em></h2>
        <h6>v{VERSION_NUMBER}</h6>
    </header>

    <section class="modal-content">
        <div class="content-container">
            <p>Hey there, it's been a while since we've seen each other, eh? The newest update of Play Midnight brings about a minor option that might appeal to you as well as one that I'm sure some people have been hoping for. These are somewhat experimental, so if you notice any issues please let me know.</p>

            <p>There were also a few small areas I forgot to style as well, so I've tied those up. I've tried to find all the little nooks that I may have missed, but if you notice anything I've missed don't hesitate to let me know.</p>

            <div class="featured-section">
                <div class="featured-header">
                    <h2>New Features</h2>
                </div>

                <div class="featured-content">
                    <h3>Static Sidebar</h3>
                    <p class="text-center">Shows the sidebar on page load and forces it to stay open (as well as hiding the buttons). Cheers, Reddit!</p>

                    <h3>Update Notifications</h3>
                    <p class="text-center">Disables future update notifications about Play Midnight. In other words, if you enable this option, you'll never see this popup box again in the future. I added this in case I was annoying you too much. :P</p>
                </div>
            </div>

            <h2>Feedback</h2>

            <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight">Reddit</a>, <a href="mailto:iam@christieman.com">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

            <h2>Personal Message</h2>

            <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/">Reddit</a>, or by <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KHH9ZJH42FF4J">buying me some much needed coffee</a>. Thanks again, Chris Tieman.</p>

            <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
        </div>
    </section>

    <footer class="modal-footer">
        <sj-paper-button class="material-primary confirm-btn" role="button" tabindex="0" no-focus="">Let Me Listen!</sj-paper-button>
    </footer>
</div>
