<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello once again, friends. Sorry it's been a while! Life got in the way with a new job and all that fun stuff, but I wanted to get an update pushed out to you guys with some fixes and a few new features.<p>

			<p><strong>FIRST NOTE:</strong> You may have seen a permission change on the extension requestion permissions for <i>play-music.gstatic.com</i>. This is where Google stores their static images, like their logo, which I needed access to to allow you to customize it. This was strictly for accessing images and nothing more.</p>

      <p>I've had a few requests come in through Reddit for some new features, so I've added a couple of those, and some are still in the works. Always feel free to shoot me any other ideas/issues/suggestions you may have!</p>

			<p>Now, on to the tweaks...</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>New Features</h2>
        </div>

        <div class="featured-content">
          <h3>Dark Top Bar</h3>
          <p class="text-center">By request I've added the ability to disable the accent color on the top search bar to allow you to keep it dark to match the rest of the theme.</p>

					<h3>Remove Radio Stations (EXPERIMENTAL)</h3>
          <p class="text-center">This allows you to hide all those pesky radio stations on the 'Listen Now' page. However, since this is only experimental you'll see some overly large boxes/gaps in the recent activity and recommendations section.</p>

					<h3>Remove Songza</h3>
          <p class="text-center">With this you're able to remove the Songza section (The pre-made playlists at the top of 'Listen Now').</p>
        </div>

        <div class="featured-header">
          <h2>Tweaks</h2>
        </div>

        <div class="featured-content">
					<h3>Style Fixes</h3>
					<p class="text-center">Updated the new Google logo to use your accent color. Fixed a few issues where styles were broken (such as dragging a song to playlist, etc).</p>

					<h3>Options Order</h3>
					<p class="text-center">The options have been reorganized to hopefully make more sense. I've kept core features at the top, followed by accents, followed by all the other fun stuff (alphabetized).</p>

					<h3>Code Tweaks</h3>
					<p class="text-center">I've made more changes to the core code, which shouldn't affect anyone other than people who poke around on Github.</p>
        </div>
      </div>

      <h2>Feedback</h2>

      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>

      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by <a href="https://www.paypal.me/datducky" target="_blank">buying me some much needed coffee</a>. Thanks again, Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn" role="button" tabindex="0" no-focus="">My Body Is Ready</paper-button>
  </footer>
</div>
