<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello once again, friends! Just another update with a few new goodies for you guys. I've heard some of you out on Reddit and added a few small things that were requested. Hopefully you enjoy!<p>

			<p><strong>HUGE NOTE:</strong> You may have seen my post on Reddit, but if not.. there may be some things broken soon (specifically with the Play Midnight options). Google finally changed some of their code to how it should have been to begin with, so this will cause a few things to break. With the help of /u/BareBahr on Reddit I was able to tweak all of the style things that I could off the bat, but I won't be able to make any of the major fixes until I myself have the update. I assure you I'll be working to get it fixed as soon as I receive the update!</p>

      <p>As always feel free to shoot me any other ideas/issues/suggestions you may have!</p>

			<p>Now, on to the tweaks...</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>New Features</h2>
        </div>

        <div class="featured-content">
          <h3>Hide Menu Sections</h3>
          <p class="text-center">By request I've added the ability to hide menu items from the sidebar (or hide it altogether if you feel saucy). You can do so by only checking the ones you'd like to see under the 'Visible Menus' section</p>

					<h3>Hide Auto-Playlists</h3>
          <p class="text-center">By request I've added the ability to hide playlist items from the sidebar (or hide it altogether if you feel saucy). You can do so by only checking the ones you'd like to see under the 'Visible Auto-Playlists' section</p>

					<h3>Sound Search Auto-Playlist</h3>
          <p class="text-center">Another requested auto-playlist has been added. This playlist is comprised of songs you've searched for via Google Now microphone search.</p>
        </div>

        <div class="featured-header">
          <h2>Tweaks</h2>
        </div>

        <div class="featured-content">
					<h3>Style Fixes</h3>
					<p class="text-center">Fixed an issue with the play queue going under the sidebar when 'Static Sidebar' was enabled on small screens. Fixed accent color on queue button.</p>

					<h3>Code Tweaks</h3>
					<p class="text-center">I've made more changes to the core code, which shouldn't affect anyone other than people who poke around on Github.</p>
        </div>
      </div>

      <h2>Feedback</h2>

      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>

      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by <a href="https://www.paypal.me/datducky" target="_blank">buying me some much needed coffee</a>. Thanks again, Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn" role="button" tabindex="0" no-focus="">I've Got A Tingle</paper-button>
  </footer>
</div>
