<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello friend, quick update! I've added one new little feature that was requested and fixed a few minor bugs. Also, just once again wanted a chance to say thanks to everyone that's contacted me! I hope you're all looking forward to a great Thanksgiving, and if you're going black friday shopping, be careful!</p>
			<p>Now, here is a list of what's changed so you can get back to your music:</p>

			<div class="featured-section">
				<div class="featured-header">
					<h2>New Features</h2>
				</div>

				<div class="featured-content">
					<h3>Remove Artist Header Image</h3>
					<p class="text-center">Due to a few requests, I've added the option to remove all header images that show up on the artist/album pages so you don't have to scroll down, etc.</p>
				</div>

				<div class="featured-header">
					<h2>Tweaks</h2>
				</div>

				<div class="featured-content">
					<h3>Search Bar Styling</h3>
					<p class="text-center">Updated the styles on the new search bar that Google added recently.</p>

					<h3>Loading Overlay</h3>
					<p class="text-center">Updated the loading overlay spinner to properly use your accent color.</p>
				</div>
			</div>

			<h2>Feedback</h2>
      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>
      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

			<p>Best, Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Algebraic!</paper-button>
  </footer>
</div>
