<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Alright guys, I apologize for popping in your face so much, but I didn't want you to miss out on a new minor feature if you were interested. Also, in case you're tired of these modals, remember you can always disable them in your Play Midnight options under "Tidbits -> Update Nofitications".<p>

			<div class="featured-section">
				<div class="featured-header">
					<h2>New Features</h2>
				</div>

				<div class="featured-content">
					<h3>Show Accent Favicon</h3>
					<p class="text-center">Via request on Reddit from /u/ckeehan I've added the ability to have your favicon match your accent color.</p>
				</div>

				<div class="featured-header">
					<h2>Tweaks</h2>
				</div>

				<div class="featured-content">
					<h3>Style Fixes</h3>
					<p class="text-center">Fixed an issue with "My Library" defaulting to Playlists always. Caused by me while trying to fix a Google issue. You should now see "My Library" selected anytime you're under the tabs.</p>

					<h3>Code Tweaks</h3>
					<p class="text-center">Hid the Radio Stations section from "My Library" when you have radios hidden. Otherwise you saw an empty page.</p>
				</div>
			</div>

			<h2>Feedback</h2>

      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>

      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

			<p>Best, Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Get Outta Here!</paper-button>
  </footer>
</div>
