<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello, it's been a while, eh? Google has once again caused me to emerge from my hole, so I just wanted to let you know I still exist! I've just been busy with life things and such, but don't you worry, I'll never abandon you. &lt;3</p>
      <p>I eventually (hah!) want to do a code rework on this app to try and speed up my development process so I can get you updates faster, but laziness ensues, so I'll get there at some point.</p>
      <p>As always, when making my design choices I use my best instincts because I don't always agree with the choices Google makes. If you disagree, feel free to let me know if you absolutely hate something via the Feedback section below.</p>
      <p>Anyways, let's break things down so you can get back to your music:</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Style Overhauls</h2>
        </div>

        <div class="featured-content">
          <h3>Homepage Rework</h3>
          <p class="text-center">Due to the new homepage Google introduced, I've gone ahead and completely restyled it. Hopefully you're cool with my new take on it. I wasn't a huge fan of the changing text colors, but I do like their new backgrounds so I kept those.</p>

          <h3>Cleanup</h3>
          <p class="text-center">Went through and cleaned up any styling that seemed to be out of sorts due to the new changes.</p>
        </div>
      </div>

      <h2>NOTE</h2>
      <p>I rushed this update out overnight to try and give you guys something to chew on for now. If you notices any bugs (which I'm sure you will) let me know on Reddit or such via the Feedback section below.</p>

      <h2>Feedback</h2>
      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>
      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

      <p>Best,<br />Chris Tieman.</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Let's Dance!</paper-button>
  </footer>
</div>
