<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Oh noooo! Not this thing again! Sorry to bug again you so quickly, but I'm pretty excited to announce a nice slew of bug fixes and a few new things you may be interested in (or you eyes might just enjoy more).</p>
      <p>I'm just going to jump right into it so you can be on your way:</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Features</h2>
        </div>

        <div class="featured-content">
          <h3>Static Sidebar (EXPERIMENTAL)</h3>
          <p class="text-center">Due to a request (and missing it myself) I've taken the time to add Static Sidebar back in. For those who have never seen/used it, this basically forces the left sidebar to always be open rather than hidden under a hamburger menu.</p>
          <p class="text-center">I had to rearrange a bunch of items, so there's a good chance something might break/not look right. Feel free to let me know and I'll try and fix them up.</p>
        </div>
      </div>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Improvements</h2>
        </div>

        <div class="featured-content">
          <h3>Recent Activity (YAYY!)</h3>
          <p class="text-center">This was one that was really big to me. I'm not sure why Google decided that Recent Activity was such a secondary feature that they made it super tiny, but I've bumped those album arts up a bit to actually be useful.</p>
        </div>

        <div class="featured-content">
          <h3>Home Background Transition</h3>
          <p class="text-center">Some of you may have noticed the flash of white on the Home page when scrolling from the first two items and down, this should (hopefully) no longer be an issue.</p>
        </div>

        <div class="featured-content">
          <h3>Larger Home Background Art</h3>
          <p class="text-center">I actually really dig the new album art on the Home page, so I decided to bump up the album art a bit in size and I think it actually looks pretty fantastic. I hope you agree.</p>
        </div>
      </div>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Bugs</h2>
        </div>

        <div class="featured-content">
          <h3>Search Bar</h3>
          <p class="text-center">Fixed text coloring issue on search suggestions.</p>
        </div>

        <div class="featured-content">
          <h3>Playlist Edit Dialog</h3>
          <p class="text-center">Fixed up the accent colors on the edit playlist dialog.</p>
        </div>

        <div class="featured-content">
          <h3>Improve Suggestions/Header Jitter/Upload</h3>
          <p class="text-center">Cleaned up the styling on the Improve Suggestions and Upload pages, fixed jitter bug on header when scrolling.</p>
        </div>

        <div class="featured-content">
          <h3>Miscellaneous</h3>
          <p class="text-center">Fixed a few smaller styling issues I saw throughout. Dialogs for locations and such.</p>
        </div>
      </div>

      <h2>NOTE</h2>
      <p>I flew through a lot of these changes and tried a few new things I haven't done before. I haven't noticed any issues with performance, but if you find any issues, please let me know!</p>

      <h2>DOUBLE NOTE (Right Click Menu)</h2>
      <p>I had a ton of people message me about the black right click menu. I could never get the issue to reproduce for myself, but I've tried my best based on Github feedback to fix the issue. I'm hoping it's better for you, or that Google will push changes to everyone soon.</p>

      <h2>Feedback</h2>
      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>
      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

      <p>Best,<br />Chris Tieman</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Caress Me</paper-button>
  </footer>
</div>
