<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Come with me and let's go for a ride<br />Follow me to the other side<br />As I sit around and squash your bugs.</p>
      <p><em>Whew</em>, here's what was fixed:</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Feature(s)</h2>
        </div>

        <div class="featured-content">
          <h3>Hide Shop Menu Item</h3>
          <p class="text-center">Due to a request I've added an option that allows Free Users (All Access Subscribers unaffected) to hide the "Shop" menu item.</p>
        </div>

        <div class="featured-content">
          <h3>Hide Subscribe Menu Item</h3>
          <p class="text-center">Due to a request I've added an option that allows Free Users (All Access Subscribers unaffected) to hide the "Subscribe Now" menu button.</p>
        </div>
      </div>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Bugs</h2>
        </div>

        <div class="featured-content">
          <h3>Album/Artist/Playlist Pages</h3>
          <p class="text-center">Fixed the issue text on these pages being black on black, yikes!</p>
        </div>

        <div class="featured-content">
          <h3>Search Box Suggestions</h3>
          <p class="text-center">Fixed the new Search Box suggestions (artist/song results) so they're readable again.</p>
        </div>

        <div class="featured-content">
          <h3>Large Song Table Broken Thumbs <em>(ouch!)</em></h3>
          <p class="text-center">Fixed the issue with the thumbs up icons being super broken when using the "Larger Song Table" option.</p>
          <p class="text-center">This worked on my end, but there's a chance it could still be an issue, so please let me know.</p>
        </div>

        <div class="featured-content">
          <h3>Small Tweaks (Song Progress Knob, Loading Screen, Minor Button Styles)</h3>
          <p class="text-center">Fixed the orange knob on the progress bar, added Play Midnight logo to loading screen, fixed some small button miscolors.</p>
        </div>
      </div>

      <h2>Feedback</h2>
      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>
      <p>If you'd rather get your hands dirty, Pull Requests are always welcome on <a href="https://github.com/chrisxclash/play-midnight" target="_blank">Github</a>!</p>

      <h2>Personal Message</h2>
      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

      <p>May the odds be ever in your favor,<br />Chris Tieman</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Go For That Ride</paper-button>
  </footer>
</div>
