<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello, It's me<br />I was wondering if after all these weeks you'd like to meet<br />To go over some updates</p>
      <p><em>Ahem</em>, anyways here's a few little tweaks and a new feature:</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Feature(s)</h2>
        </div>

        <div class="featured-content">
          <h3>Static Playlists</h3>
          <p class="text-center">Due to a request I've added an option for Static Playlists. This works just like the static sidebar to force the playlists (right menu) to always be open rather than hidden under a menu icon.</p>
          <p class="text-center">Just like with static sidebar, I had to rearrange a bunch of items, so there's a good chance something might break/not look right. Feel free to let me know and I'll try and fix them up.</p>
        </div>
      </div>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Updates</h2>
        </div>

        <div class="featured-content">
          <h3>Stylish!</h3>
          <p class="text-center">I apologize to anyone who has used the Stylish/User Styles version of Play Midnight. I've neglected you, and I'm sorry.</p>
          <p class="text-center">I'm updating the Stylish sheets for both (Play Midnight and Play Sunset) so if you favor Firefox or Safari, that should help. Expect this within the next few days.</p>
          <p class="text-center">Play Midnight (Stylish)<br /><a href="https://userstyles.org/styles/115630/play-midnight-for-google-play-music" target="_blank">https://userstyles.org/styles/115630/play-midnight-for-google-play-music</a></p>
          <p class="text-center">Play Sunset (Stylish)<br /><a href="https://userstyles.org/styles/119188/play-sunset-for-google-play-music" target="_blank">https://userstyles.org/styles/119188/play-sunset-for-google-play-music</a></p>
        </div>
      </div>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Bugs</h2>
        </div>

        <div class="featured-content">
          <h3>Queue Track Titles</h3>
          <p class="text-center">Those pesky track titles in the queue should now properly show up in white rather than hiding themselves.</p>
          <p class="text-center">Props to <a href="https://github.com/L-P" target="_blank">Léo Peltier</a> for tackling this one for me!</p>
        </div>

        <div class="featured-content">
          <h3>Track List Play Button</h3>
          <p class="text-center">Fixed issue with the play button going incognito and deciding not to show up anywhere. Solved!</p>
        </div>

        <div class="featured-content">
          <h3>Miscellaneous</h3>
          <p class="text-center">Fixed a few smaller styling issues I saw throughout. Loading indicators and such.</p>
        </div>
      </div>

      <h2>NOTE</h2>
      <p>I'm hoping that none of you are experiencing the white right click dialog menu anymore, but if you are. Please checkout the <a href="https://github.com/chrisxclash/play-midnight" target="_blank">Github</a> and see if you might be able to help out! Thanks!</p>

      <h2>Feedback</h2>
      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com" target="_blank">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>
      <p>If you'd rather get your hands dirty, Pull Requests are always welcome on <a href="https://github.com/chrisxclash/play-midnight" target="_blank">Github</a>!</p>

      <h2>Personal Message</h2>
      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

      <p>Best,<br />Chris Tieman</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn">Goodbye</paper-button>
  </footer>
</div>
