<div class="play-midnight-notification">
  <header class="modal-header">
    <div class="image-header">
      <img class="pm-logo" src="{CHROME_DIR}/images/play-logo-dark.png">
    </div>
    <h2>Play Midnight <em>Material</em></h2>
    <h6>v{VERSION_NUMBER} by <a href="http://christieman.com/" target="_blank">Chris Tieman</a></h6>
  </header>

  <section class="modal-content">
    <div class="content-container">
      <p>Hello friend! Thanks for taking a chance to check out Play Midnight! I just wanted to give you a quick overview of how to tweak Play Midnight to your liking and then I'll be out of your way.</p>

      <p>Play Midnight activates itself anytime you visit Google Play Music, so you won't have to mess with it too much. You'll be able to easily change things via the Play Midnight options. To access the options, look for this little guy on the bottom right hand corner:</p>

      <div class="fab-preview">
        <div class="play-midnight-preview-fab">
          <div class="pm-preview-fab">
            <svg viewBox="0 0 24 24" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" fit="" style="pointer-events: none; display: block;">
              <g>
                <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
              </g>
            </svg>
          </div>
        </div>
        <p class="text-center"><small>(Go ahead, you can play with it. It's pretty fun.)</small></p>
      </div>

      <p>This little guy will live in his own little world in the corner of your screen to give you easy access to all the customizations you'd like to make to Play Midnight. If you don't want this little guy hanging around all the time (it's okay, I understand) then you can disable him in the options and he'll go home. You'll still be able to access the Play Midnight options by opening your left sidebar and scrolling to the bottom. There's another menu option for Play Midnight right above your settings.</p>

      <div class="featured-section">
        <div class="featured-header">
          <h2>Features</h2>

          <p class="text-center">Here's a quick explanation of the options available to you.</p>
        </div>

        <div class="featured-content">
          <h3>Enable Play Midnight</h3>
          <p class="text-center">Allows you to temporarily enable/disable Play Midnight if you're not feeling it.</p>

          <h3>Enable Light-Mode Accents</h3>
          <p class="text-center">This enables you to keep your accent color while Play Midnight is disabled.</p>

          <h3>Accent Colors</h3>
          <p class="text-center">My favorite feature: custom accent colors to fit whatever mood you're in.</p>

          <h3>Play Midnight Favicon</h3>
          <p class="text-center">Modifies the Orange headphone favicon on your url tab to be dark.</p>

          <h3>Accent Favicon</h3>
          <p class="text-center">Update the headphones favicon to be the same as your chosen accent color.</p>

          <h3>Fab Icon</h3>
          <p class="text-center">This is the option that shows/hides your little buddy in the bottom right.</p>

          <h3>Dark Top Bar</h3>
          <p class="text-center">By request I've added the ability to disable the accent color on the top search bar to allow you to keep it dark to match the rest of the theme.</p>

          <h3>Larger Queue</h3>
          <p class="text-center">This extends the now playing popup queue to be wider so your songs don't get cut off.</p>

          <h3>Visible Menus</h3>
          <p class="text-center">Allows you to customize which menus are shown on the right-side menu.</p>

          <h3>Visible Auto-Playlists</h3>
          <p class="text-center">Allows you to customize which auto-playlists are shown on the right-side menu.</p>

          <h3>Update Notifications</h3>
          <p class="text-center">Whether or not you want to see these popups with news about updates.</p>

          <h3>Verbose Mode</h3>
          <p class="text-center">The ability to see behind the scenes into my dev ramblings on your browser console (ctrl+shift+j/cmd+option+j)</p>
        </div>
      </div>

      <h2>Feedback</h2>

      <p>As always, I'm sure there will be bugs/issues. Please let me know, preferably via <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, <a href="mailto:iam@christieman.com">email</a>, or <a href="https://chrome.google.com/webstore/detail/ljmjmhjkcgfmfdhgplikncgndbdeckci" target="_blank">Chrome Webstore</a> if you happen to encounter any. Screenshots are definitely the most helpful, or even css fixes if you're into that kind of thing. I'll get to these as quickly as I can.</p>

      <h2>Personal Message</h2>

      <p>If you'd like to help support this project in any way, please consider spreading the word via friends, <a href="http://reddit.com/r/PlayMidnight" target="_blank">Reddit</a>, or by buying me some much needed coffee via <a href="https://www.paypal.me/datducky" target="_blank">PayPal</a> or <a href="https://www.coinbase.com/christieman" target="_blank">Bitcoin</a>.</p>

      <p>Best,<br />Chris Tieman</p>

      <p class="text-center"><small><em>You won't see this message again for this version (v{VERSION_NUMBER})</em></small></p>
    </div>
  </section>

  <footer class="modal-footer">
    <paper-button class="material-primary confirm-btn" role="button" tabindex="0" no-focus="">Let Me Listen!</paper-button>
  </footer>
</div>
