html:not([style-scope]):not(.style-scope) {
  --default-primary-color: $color_accent;
  --primary-color: $color_accent;
}

// Scrollbar
::-webkit-scrollbar-thumb,
::shadow ::-webkit-scrollbar-thumb {
  background-color: $color_accent;
}

.primary:not([style-scope]):not(.style-scope) {
  color: $color_accent !important;
}

// Logo
#material-app-bar #material-one-left {
  // TODO - Update logo in future
  .music-logo-link {
    display: none !important;
  }
}

// Uploading Music
.material-transfer-radial-download-overlay,
.material-transfer-radial-processing-overlay,
.material-transfer-radial-upload-overlay {
  background: $color_accent;
}

// Menu Selected
.goog-menu .goog-menuitem.selected .goog-menuitem-content:not([style-scope]):not(.style-scope) {
  color: $color_accent !important;

  &:hover {
    color: $color_accent !important;
  }
}

// Chevron Icons
.cluster.material-cluster .lane-button core-icon,
.cluster.material-cluster .lane-button iron-icon {
  color: $color_accent;
}

// Toggle Button
paper-toggle-button::shadow [checked] {
  .toggle {
    background: $color_accent;
  }

  .toggle-ink {
    color: $color_accent;
  }
}

paper-toggle-button[checked]:not([disabled]) {
  .toggle-bar.paper-toggle-button,
  .toggle-button.paper-toggle-button {
    background-color: $color_accent;
  }

  .toggle-ink.paper-toggle-button {
    color: $color_accent;
  }
}

// Checkbox
paper-checkbox::shadow {
  #checkbox.checked {
    background-color: $color_accent;
    border-color: $color_accent;
  }

  #ink[checked] {
    color: $color_accent;
  }
}

paper-checkbox {
  #ink[checked],
  #ink[checked].paper-checkbox {
    color: $color_accent;
  }

  #checkbox.checked,
  #checkbox.checked.paper-checkbox {
    background-color: $color_accent;
    border-color: $color_accent;
  }
}

// Buttons
.button.primary,
.simple-dialog-buttons button.goog-buttonset-default,
paper-button.material-primary,
paper-button.material-primary:not([raised])[focused],
sj-paper-button.material-primary {
  background: $color_accent;
  color: #fff;

  &:hover {
    background: $color_accent !important;
  }
}

.info-card:not([style-scope]):not(.style-scope):not(.szsb-card):not(.add-your-music) paper-button,
.top-charts-view .song-row [data-col="index"] .column-content:not([style-scope]):not(.style-scope),
.upload-dialog-dragover .upload-dialog-description:not([style-scope]):not(.style-scope),
.ups.light iron-icon:not([style-scope]):not(.style-scope),
paper-dialog .buttons paper-button:not([style-scope]):not(.style-scope):not([disabled]),
paper-toast paper-button[data-action="button"]:not([style-scope]):not(.style-scope) {
  color: $color_accent;
}

paper-action-dialog sj-paper-button,
paper-dialog .buttons paper-button:not([style-scope]):not(.style-scope):not([disabled]) {
  color: $color_accent;
}

#music-content .material-banner.banner.new-user-quiz-card sj-paper-button,
#music-content .material-banner.banner.ws-search-banner sj-paper-button,
#music-content .material-banner.banner.ws-subscriber-card sj-paper-button {
  color: $color_accent;
}

.more-songs-container.primary > paper-button {
  color: $color_accent;
}

paper-toast [data-action="button"],
paper-toast div[data-action="button"] {
  color: $color_accent;
}

sj-callout {
  background: $color_accent !important;
}

paper-icon-button.sj-callout-target:not([style-scope]):not(.style-scope) {
  background-color: $color_accent !important;
}

gpm-bottom-sheet {
  paper-button span {
    color: $color_accent;
  }
}

// Playlist button
#unsubscribe-playlist-button,
sj-paper-button#unsubscribe-playlist-button {
  .icon[icon="add-circle"],
  .playlist-subscribed {
    color: $color_accent;
  }
}

.sj-play-button-0 #buttonContent.sj-play-button {
  background: $color_accent;
}

.sj-play-button-0 #pulse.sj-play-button {
  background: $color_accent;
  opacity: 0.3;
}

// Links
.music-source-empty-message,
.nav-item-container,
.simple-dialog a,
a {
  &.primary,
  &.primary:not([style-scope]):not(.style-scope) {
    color: $color_accent;
  }
}

// Top Toolbar
#nav-container #music-content.material .material-cover {
  background-color: $color_accent;
}

// Logo
.new-playlist-drawer #nav-container .nav-toolbar .menu-logo {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 60px;
  padding-left: 170px;
  background: $color_accent url('{CHROME_DIR}/images/play_music_logo_light.png') no-repeat center center;
  background-size: 170px auto;
}

// Inputs
paper-input-container,
paper-input-decorator {
  &::shadow .focused-underline {
    background: $color_accent;
  }

  &[focused]::shadow .floated-label .label-text {
    color: $color_accent;
  }

  .focused-line.paper-input-container {
    background: $color_accent;
  }

  .add-on-content.is-highlighted.paper-input-container *,
  .input-content.label-is-floating.paper-input-container label,
  .input-content.label-is-floating.paper-input-container  .paper-input-label,
  .input-content.label-is-highlighted.paper-input-container .paper-input-label,
  .input-content.label-is-highlighted.paper-input-container label {
    color: $color_accent;
  }
}

// Popup Dialog
paper-dialog,
paper-action-dialog {
  paper-input-decorator {
    &::shadow .focused-underline {
      background: $color_accent;
    }

    &[focused]::shadow .floated-label .label-text {
      color: $color_accent;
    }
  }

  sj-paper-button {
    color: $color_accent;
  }

  .buttons {
    color: $color_accent;
  }
}

// Dragging Songs Icon
.material-drag .song-drag-label {
  background: $color_accent;
}

// Slider
paper-slider {
  paper-ripple.paper-slider {
    color: $color_accent;
  }
}

paper-slider #sliderKnob.paper-slider.style-scope > #sliderKnobInner.paper-slider.style-scope {
  background-color: $color_accent;
  border: 2px solid $color_accent;
}

paper-progress #primaryProgress.paper-progress {
  background-color: $color_accent;
}

// Loading Progress
#current-loading-progress {
  background: $color_accent;
}

// Loading Overlay
#loading-overlay.material paper-spinner-lite .circle {
  border-color: $color_accent;
}

.primary-background:not([style-scope]):not(.style-scope) {
  background-color: $color_accent !important;
}

paper-spinner .spinner-layer {
  border-color: $color_accent !important;
}

.upload-dialog {
  .upload-dialog-title {
    background: $color_accent;
  }
}

.upload-dialog-dragover {
  border-color: $color_accent !important;

  &:not([style-scope]):not(.style-scope) {
    border-color: $color_accent !important;
  }

  .upload-dialog-description {
    color: $color_accent !important;
  }
}

.progress-bar-vertical,
.progress-bar-horizontal {
  .progress-bar-thumb {
    background-color: $color_accent !important;
  }
}

// Explicit
.album-view .material-container-details .info .title .explicit,
.explicit,
.material .song-row .explicit,
.material-card .explicit,
.podcast-series-view .material-container-details .info .title .explicit {
  background: $color_accent;
}

// Sidebar Navigation
#nav .nav-section > a.nav-item-container,
a.nav-item-container.tooltip:not([style-scope]):not(.style-scope) {
  &.selected {
    font-weight: 700;
    color: $color_accent;
    border-left: 2px solid $color_accent;

    core-icon,
    iron-icon {
      color: $color_accent;
    }
  }
}

.solid-hero core-image#material-hero-image,
.solid-hero iron-image#material-hero-image {
  background-color: $color_accent !important;
}

.material-detail-view .material-container-details .read-more-button {
  color: $color_accent;
}

// Page Play Button (Top Right)
.material-container-details paper-fab,
.material-container-details sj-fab,
.paper-fab-0,
paper-fab {
  background: $color_accent;
}

// Progress/Volume
#sliderBar::shadow #activeProgress,
paper-slider::shadow #sliderBar::shadow #activeProgress,
paper-slider::shadow #sliderKnobInner {
  background: $color_accent;
}

// Various Music Buttons
#player.material #material-player-right-wrapper paper-icon-button[data-id="queue"].opened iron-icon,
#player.material .material-player-middle paper-icon-button[data-id="repeat"].active iron-icon,
#player.material .material-player-middle paper-icon-button[data-id="shuffle"].active iron-icon {
  color: $color_accent !important;
}

#player.material sj-icon-button[data-id="cast"]::shadow core-icon[aria-label="cast-connected"],
#player.material sj-icon-button[data-id="cast"]::shadow iron-icon[aria-label="cast-connected"] {
  color: $color_accent !important;
}

#player.material .material-player-middle paper-icon-button[data-id="play-pause"]:not([disabled]) iron-icon,
#player.material .material-player-middle sj-icon-button[data-id="play-pause"]:not([disabled]) {
  color: $color_accent;
}

sj-play-button #pulse.sj-play-button {
  background: $color_accent !important;
}

// Homepage Scrolling Module
sj-scrolling-module {
  .module-title-underline {
    background: $color_accent !important;
  }
}

// Page Indicator
#content-container {
  sj-page-indicator {
    .sj-page-tab.sj-page-indicator.iron-selected {
      iron-icon {
        color: $color_accent !important;
      }
    }
  }
}

// Top Charts Colors
.material-card .details .left-items .index,
.top-charts-view .song-row [data-col="index"] .column-content:not([style-scope]):not(.style-scope),
.top-charts-view .song-row [data-col="index"] .content {
  color: $color_accent;
}

// Subscribe Icon
core-icon[icon="sj:subscribed"] svg,
iron-icon[icon="sj:subscribed"] svg {
  path:nth-child(2) {
    fill: $color_accent;
  }

  path:nth-child(3) {
    stroke: $color_accent;
  }
}

// Queue Reorder Target Line
.dragging-target-line {
  border-top-color: $color_accent;
}
