$background_disabled: lighten($background_page, 3%);

.button.primary,
sj-paper-button.material-primary,
.simple-dialog-buttons button.goog-buttonset-default {
	opacity: 0.9;

	[disabled] {
		background: $background_disabled;
		color: $font_secondary;
	}

	&:hover {
		opacity: 1;
	}
}

// Playlist button
#unsubscribe-playlist-button,
sj-paper-button#unsubscribe-playlist-button {
	.playlist-unsubscribe {
		color: $font_primary;
	}
}
