$background_disabled: lighten($background_page, 3%);
$color_accent_hover: lighten($color_accent, 3%);

.button.primary,
sj-paper-button.material-primary,
.simple-dialog-buttons button.goog-buttonset-default {
	background: $color_accent;

	[disabled] {
		background: $background_disabled;
		color: $font_secondary;
	}

	&:hover {
		background: $color_accent_hover !important;
	}
}

// Chevron Icons
.cluster.material-cluster .lane-button core-icon {
	color: $color_accent;
}

// Toggle Button
paper-toggle-button::shadow [checked] {
	.toggle {
		background: $color_accent;
	}

	.toggle-ink {
		color: $color_accent;
	}
}
