.info-card,
.material-card,
.settings-card {
  background: $background_card;
  background-color: $background_card;
  color: $font_primary;

  .title {
    color: $font_primary;
  }

  .sub-title {
    color: $font_secondary;
  }

  &[data-is-listen-now="true"] .reason .reason-text {
    color: $font_primary;
  }

  &[data-type="situations"][data-is-podlist-situation="true"] .podcast-badge {
    background: $background_card;
  }

  &[data-type="artist"] .details .fade-out:after {
    background: linear-gradient(to right, rgba($background_dark, 0) 0%, rgba($background_dark, 0.999) 100%);
  }

  &.entity-card {
    background: transparent;

    .image-wrapper {
      background: lighten($background_card, 5%);
    }
  }

  .details sj-icon-button.menu-anchor {
    color: $font_primary;
  }
  // Feeling Lucky
  &[data-size="small"][data-type="imfl"] .title {
    color: $font_primary;
  }

  &[data-size="small"][data-type="imfl"] .sub-title {
    color: $font_secondary;
  }

  // Gradient Fade
  .fade-out:after {
    background: linear-gradient( to right, rgba($background_card, 0) 0%, rgba($background_card, 0.999) 100% );
  }
}

// Info Card
#music-content .info-card {
  background-color: $background_card;

  .title {
    color: $font_primary;
  }

  .sub-title {
    color: $font_secondary;
  }
}

// Songza cards
.material-card[data-type="situations"][data-is-podlist-situation="true"] iron-icon.podcast-badge {
  background-color: $background_card;
}
