gpm-card-grid,
gpm-now-card-grid {
  sj-play-button {
    #buttonContent.sj-play-button {
      background: lighten($background_card, 10%);
    }

    #icon.sj-play-button {
      fill: $font_primary;
    }
  }

  #gridTitle {
    color: $font_primary;
  }

  sj-card {
    &[card-aspect-ratio='wide'] {
      background-color: $background_card;

      [slot='title'],
      .card-title {
        color: rgba(#fff, 0.9) !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='reason'],
      .card-reason {
        color: rgba(#fff, 0.7) !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='subtitle'],
      .card-subtitle {
        color: $font_secondary !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='description'],
      .card-description {
        color: $font_secondary !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }
    }

    &:not([card-aspect-ratio='wide']) {
      [slot='title'],
      .card-title {
        color: rgba(#fff, 0.9) !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='subtitle'],
      .card-subtitle {
        color: rgba(#fff, 0.7) !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='reason'],
      .card-reason {
        color: rgba(#fff, 0.7) !important;
        text-shadow: 1px 1px 3px $background_card !important;
      }

      [slot='description'],
      .card-description {
        color: rgba(#fff, 0.6) !important;
        text-shadow: 1px 1px 3px $background_card !important;
        padding-bottom: 3px !important;
      }
    }
  }

  gpm-colored-now-card {
    #textProtection {
      background: linear-gradient(to top, rgba($background_page, 0.999), rgba($background_page, 0.15)) !important;
    }

    [slot='title'],
    .card-header {
      color: rgba(#fff, 0.9) !important;
      text-shadow: 1px 1px 3px $background_card !important;
    }

    [slot='reason'],
    .card-reason {
      color: rgba(#fff, 0.7) !important;
      text-shadow: 1px 1px 3px $background_card !important;
    }

    #textSeparator {
      background: rgba(#fff, 0.7) !important;
      box-shadow: 1px 1px 3px $background_card !important;
    }

    .card-title {
      color: rgba(#fff, 0.9) !important;
      text-shadow: 1px 1px 3px $background_card !important;
    }


    [slot='description'],
    [slot='subtitle'],
    .card-description {
      color: rgba(#fff, 0.6) !important;
      text-shadow: 1px 1px 3px $background_card !important;
      padding-bottom: 3px !important;
    }

    // Ignore Black Backgrounds
    // &:not(.gpm-colored-now-card-2) {
    //   #backgroundImage {
    //     &:after {
    //       position: absolute;
    //       top: 0;
    //       bottom: 0;
    //       right: 0;
    //       left: 0;
    //       content: '';
    //     }
    //   }
    // }
  }
}
