$background_hover: lighten($background_search, 3%);
$background_light: lighten($background_nav, 3%);

html:not([style-scope]):not(.style-scope) {
  --light-theme-text-color: $font_primary;
  --light-theme-secondary-color: $font_secondary;
}

body,
body.material {
  background-color: $background_dark;
  color: $font_primary;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar-track,
::shadow ::-webkit-scrollbar-track {
  background-color: rgba($background_page,0.6);

  &:hover {
    background-color: rgba($background_page,0.7);
  }

  &:active {
    background-color: rgba($background_page,0.65);
  }
}

#music-content {
  color: $font_primary;
}

// Links
.music-source-empty-message,
.nav-item-container,
.simple-dialog a,
a {
  color: $font_primary;
}

// Logo
body.qp #material-app-bar #material-one-left {
  // TODO - Update logo in future
  .music-logo-link {
    display: none;
    width: 170px;
    height: 60px;
    margin-top: -6px;
  }

  .music-logo {
    width: 170px;
    height: 60px;
    background: $color_accent url('{CHROME_DIR}/images/play_music_logo_dark.png') no-repeat center center;
    background-size: 170px auto;
  }
}

#sliding-action-bar-container {
  background-color: $background_light !important;
  color: $font_primary !important;

  paper-icon-button {
    color: $font_primary;

    &[disabled] {
      color: $font_primary;
      opacity: 0.4;
    }
  }
}

// Top Toolbar
paper-header-panel#content-container {
  paper-toolbar {
    color: $font_primary;
  }

  &:not([style-scope]):not(.style-scope):not(.transparent) paper-toolbar#material-app-bar {
    border-bottom: 1px solid $border_search !important;
  }

  core-icon,
  iron-icon,
  sj-icon-button {
    color: $font_primary !important;
  }

  sj-search-box {
    background-color: rgba($background_dark, 0.5);
    color: $font_primary;

    &::-webkit-input-placeholder {
      color: $font_primary;
    }

    &[opened] {
      background-color: $background_search;

      &::-webkit-input-placeholder {
        color: $font_secondary;
      }

      &:not([num-suggestions="0"]) #input.sj-search-box {
        border-bottom-color: $border_search;
      }
    }

    #input.sj-search-box {
      color: $font_primary;

      &::-webkit-input-placeholder {
        color: $font_primary;
      }
    }

    &[opened] {
      background-color: $background_search;

      #input.sj-search-box::-webkit-input-placeholder {
        color: $font_secondary;
      }
    }

    core-icon,
    iron-icon,
    sj-icon-button {
      color: $font_primary !important;
    }
  }

  sj-search-suggestion {
    &.query-selected,
    &:hover {
      background: $background_hover;
    }

    .sj-search-suggestion {
      color: $font_secondary !important;
    }

    .sub-match.sj-search-suggestion {
      color: $font_primary !important;
    }
  }

  .paper-fab-0 iron-icon,
  paper-fab iron-icon,
  sj-fab iron-icon {
    color: $background_dark !important;
  }
}

sj-home {
  #backgroundImageContainer.sj-home {
    height: 40vw;
    width: 80vw;
  }

  #gradient.sj-home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba($background_page, 0.999), rgba($background_page, 0.15) 75%), linear-gradient(to right, rgba($background_page, 0.999), rgba($background_page, 0.15) 50%) !important;
  }
}

// Options Toolbar
#sliding_action_bar_container,
#sliding_action_bar_container.material {
  background: $background_menu;
}
// Icons
#player .now-playing-actions sj-icon-button,
#player.material .now-playing-actions sj-icon-button,
.header-row core-icon[icon="sort"],
.header-row iron-icon[icon="sort"],
.nav-item-container core-icon,
.nav-item-container iron-icon,
core-icon,
iron-icon,
sj-icon-button {
  color: $font_primary;
}

div.icon {
  filter:invert(100%);
}
