body,
body.material,
#music-content {
	background-color: $background_dark;
	color: $font_primary;

	-webkit-font-smoothing: antialiased;
}


// Links
a,
.simple-dialog a,
.nav-item-container,
.music-source-empty-message {
	color: $font_primary;
}


// Top Toolbar
core-header-panel#content-container {
	core-icon,
	sj-icon-button {
		color: #fff !important;
	}

	&.transparent {
		#material-one-middle .material-search {
			background-color: rgba($background_dark, 0.3);
		}
	}
}


// Options Toolbar


// Icons
core-icon,
sj-icon-button,
.header-row core-icon[icon="sort"],
.nav-item-container core-icon,
#player .now-playing-actions sj-icon-button,
#player.material .now-playing-actions sj-icon-button {
	color: $font_primary;
}

div.icon {
	filter: invert(100%);
}
