$background_page_hover: lighten($background_page, 3%);

// Popup Dialog
paper-action-dialog {
  background: $background_page;
  color: $font_primary;

  &::shadow h1 {
    color: $font_primary;
  }

  input {
    color: $font_secondary;
  }

  .unfocused-underline {
    background: $background_page_hover;
  }

  sj-paper-button {
    &[disabled] {
      background: $background_page_hover;
    }
  }
}

paper-input-container {
  .input-content.paper-input-container .paper-input-input,
  .input-content.paper-input-container input,
  .input-content.paper-input-container iron-autogrow-textarea,
  .input-content.paper-input-container textarea {
    color: $font_primary;
  }
}

.material-share-options #sharing-option-label {
  color: $font_primary;
}

.error,
.label-text,
.material-share-options #sharing-option-description {
  color: $font_secondary;
}
