$background_light: lighten($background_nav, 3%);

// Global Globals
#loading-logo {
  background: url('{CHROME_DIR}/images/play-logo-dark.png');
  background-size: 256px 256px;
}

gpm-card-grid {
  &.mini {
    sj-card {
      width: 150px;

      .details {
        margin-bottom: 25px;
      }
    }
  }
}

[data-playmidnight *= "accents-only"],
[data-playmidnight *= "enabled"] {
  ::-webkit-scrollbar,
  ::shadow ::-webkit-scrollbar {
    width: 11px;
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb,
  ::shadow ::-webkit-scrollbar-thumb {
    border-radius: 0;
    opacity: 0.7;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.75;
    }
  }

  #material-app-bar {
    paper-tab.iron-selected {
      color: $color_accent;
    }

    paper-tabs #selectionBar.paper-tabs {
      background-color: $color_accent;
    }
  }
}

[data-playmidnight *= "accents-only"]:not([data-playmidnight *= "enabled"]) {
  // Scrollbar
  ::-webkit-scrollbar-track,
  ::shadow ::-webkit-scrollbar-track {
    background-color: rgba(#dcdcdc, 0.6);

    &:hover {
      background-color: rgba(#dcdcdc, 0.7);
    }

    &:active {
      background-color: rgba(#dcdcdc, 0.65);
    }
  }
}

// Options
[data-playmidnight *= "enabled"] {
  #material-app-bar,
  &.material core-toolbar#material-app-bar,
  &.material iron-toolbar#material-app-bar,
  core-toolbar#material-app-bar,
  iron-toolbar#material-app-bar {
    background-color: $color_accent;
  }

  #material-app-bar {
    paper-tab.iron-selected {
      color: $font_primary !important;
    }

    paper-tabs #selectionBar.paper-tabs {
      background-color: $font_primary !important;
    }
  }
}

[data-playmidnight *= "enabled"][data-playmidnight *= "topbar-dark"] {
  #material-app-bar,
  &.material core-toolbar#material-app-bar,
  &.material iron-toolbar#material-app-bar,
  core-toolbar#material-app-bar,
  iron-toolbar#material-app-bar {
    background-color: $background_light;
    color: $font_primary;
  }
}

[data-playmidnight *= "static-sidebar"] {
  #left-nav-close-button,
  #material-one-left #left-nav-open-button {
    display: none;
  }

  paper-drawer-panel .left-drawer.narrow-layout.paper-drawer-panel {
    & > #drawer.paper-drawer-panel {
      z-index: 1 !important;
      bottom: 90px !important;
      height: auto !important;
      visibility: visible !important;
      transform: translateX(0) !important;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.15) !important;

      #topBar {
        padding: 0 !important;
      }
    }
  }

  #material-breadcrumbs {
    margin-left: 0;
  }

  .material-transfer-status-indicator-container {
    left: 295px !important;
  }

  #main paper-header-panel#content-container {
    width: calc(100% - 280px);
    margin-left: 280px;
  }
}

[data-playmidnight *= "static-playlists"] {
  #playlist-drawer-button {
    display: none;
  }

  #playlist-drawer {
    height: calc(100% - 90px);

    #drawer {
      z-index: 1 !important;
      bottom: 90px !important;
      height: auto !important;
      visibility: visible !important;
      transform: translateX(0) !important;
    }

    #scrim {
      display: none;
    }
  }

  #pageIndicatorContainer.sj-home {
    right: 324px !important;
  }

  #main paper-header-panel#content-container {
    width: calc(100% - 300px);
    margin-right: 300px;
  }

  .play-midnight-fab {
    right: 324px;
  }
}

[data-playmidnight *= "static-sidebar"][data-playmidnight *= "static-playlists"] {
  #main paper-header-panel#content-container {
    width: calc(100% - 580px);
  }
}

[data-playmidnight *= "expanded-queue"] {
  #queue-overlay {
    width: calc(100vw - 64px);
    max-width: 1000px;
    transform-origin: calc(100% - 64px) calc(100% + 26px);
  }

  &[data-playmidnight *= "static-sidebar"] #queue-overlay {
    width: calc(100vw - 296px);
  }
}

[data-playmidnight *= "no-radio"] {
  .material-card[data-type="wst"] {
    display: none;
  }

  paper-tab[data-type="wms"] {
    display: none;
  }
}

[data-playmidnight *= "no-songza"] {
  .cluster[data-type="situations"] {
    display: none;
  }
}

[data-playmidnight *= "no-header-image"] {
  #material-hero-image {
    display: none;
  }

  .material-detail-view .has-hero-image {
    margin-top: 128px;
  }

  &[data-playmidnight *= "enabled"] {
    paper-header-panel#content-container #material-app-bar,
    paper-header-panel#content-container.transparent #material-app-bar {
      background-color: $color_accent;
    }

    &[data-playmidnight *= "topbar-dark"] {
      paper-header-panel#content-container #material-app-bar,
      paper-header-panel#content-container.transparent #material-app-bar {
        background-color: $background_light;
      }
    }
  }
}
// Menu Items
[data-playmidnight-menus *= "ALL"] {
  #nav .nav-section-divider:nth-child(2),
  #nav_collections {
    display: none;
  }
}

[data-playmidnight-menus *= "listenNow"] {
  #nav_collections a[data-type="now"] {
    display: none;
  }
}

[data-playmidnight-menus *= "topCharts"] {
  #nav_collections a[data-type="wtc"] {
    display: none;
  }
}

[data-playmidnight-menus *= "newReleases"] {
  #nav_collections a[data-type="wnr"] {
    display: none;
  }
}

[data-playmidnight-menus *= "myLibrary"] {
  #nav_collections a[data-type="my-library"],
  #nav_collections a[data-type="wmp"] {
    display: none;
  }
}

[data-playmidnight-menus *= "browseStations"] {
  #nav_collections a[data-type="wbs"] {
    display: none;
  }
}

[data-playmidnight-menus *= "podcasts"] {
  #nav_collections a[data-type="tps"] {
    display: none;
  }
}
// Playlist Items
[data-playmidnight-playlists *= "ALL"] {
  .sj-right-drawer #auto-playlists-header,
  .sj-right-drawer .autoplaylist-section {
    display: none;
  }
}

[data-playmidnight-playlists *= "thumbsUp"] {
  .sj-right-drawer .autoplaylist-section [data-id = "auto-playlist-thumbs-up"] {
    display: none;
  }
}

[data-playmidnight-playlists *= "lastAdded"] {
  .sj-right-drawer .autoplaylist-section [data-id = "auto-playlist-recent"] {
    display: none;
  }
}

[data-playmidnight-playlists *= "freePurchased"] {
  .sj-right-drawer .autoplaylist-section [data-id = "auto-playlist-promo"] {
    display: none;
  }
}
