$background_light: lighten($background_nav, 3%);

// Initial Loading Screen
#loading-progress {
  background-color: $background_dark;
}

#loading-progress-message {
  color: $font_secondary;
}

#loading-progress-bar,
#loading-progress-content #progressContainer {
  background: lighten($background_dark, 5%);
  border: 1px solid darken($background_dark, 2%);
}

gpm-loading-indicator #contentWrapper.gpm-loading-indicator {
  background: $background_light;
  color: $font_primary;
}
