.paper-dialog-0,
paper-dialog {
  &::shadow {
    .content,
    .description,
    .dialog-header .episode-title,
    .dialog-header a[data-id="series-navigate"],
    h2,
    p {
      color: $font_primary !important;
    }
  }

  .content,
  .description,
  .dialog-header .episode-title,
  .dialog-header a[data-id="series-navigate"],
  h2,
  p {
    color: $font_primary !important;
  }
}
// Tabs
#material-app-bar .material-header-bar paper-tabs.tab-container,
#material-app-bar .material-header-bar sj-tabs.tab-container {
  color: $font_primary;
}

.simple-dialog-bg {
  background: rgba(lighten($background_dark, 15%), 0.8);
}

.simple-dialog {
  background: $background_page;
  border: 1px solid $border_page;

  .simple-dialog-title {
    background: $background_page;
    color: $font_primary;
  }

  .simple-dialog-content {
    background: $background_page;
    color: $font_primary;

    .browseSubtext {
      color: $font_primary;
      margin-bottom: 5px;
    }
  }

  .edit-section {
    div:first-child {
      margin-bottom: 5px;
    }
  }

  input[type="text"],
  textarea {
    color: $font_primary;
    background: transparent;
    border: none;
    border-bottom: 1px solid $font_secondary;

    &:focus {
      outline: none;
    }
  }
}
// Context Menus
.goog-menu,
.goog-menuitem,
.now-playing-menu .goog-menuitem,
.now-playing-menu .goog-submenu,
.now-playing-menu .goog-submenu .goog-submenu-arrow {
  background-color: $background_menu !important;
  color: $font_primary !important;
}

.goog-menuitem {
  &:hover {
    background: lighten($background_menu, 3%) !important;
  }
}

.goog-menuheader {
  color: $font_secondary !important;
  // Loading Icon
  .spinner {
    background: transparent url('{CHROME_DIR}/images/sprites/ani_loading_white.gif') no-repeat center center;
    background-size: 20px 20px;
    width: auto;
    min-width: 20px;
  }
}

.extra-links-menu .goog-menuitem-content,
.goog-menuitem,
.goog-menuitem-content,
.now-playing-menu .goog-menuitem .goog-menuitem-content {
  color: $font_primary !important;
}

.goog-menuitem-highlight .goog-menuitem-content,
.goog-menuitem-highlight .goog-menuitem-content .goog-submenu-arrow {
  color: $font_primary !important;
}

.goog-menu {
  .goog-menuitem {
    .goog-menuitem-content {
      color: $font_primary !important;
    }

    &:hover {
      background: lighten($background_menu, 3%) !important;

      .goog-menuitem-content {
        color: lighten($font_primary, 3%) !important;
      }
    }
  }

  .goog-submenu {
    iron-icon {
      color: $font_primary !important;
    }
  }

  .goog-menuseparator {
    background: lighten($background_menu, 2%) !important;
  }
}

.goog-menuitem-content .goog-submenu-arrow,
.now-playing-menu .goog-submenu .goog-submenu-arrow {
  color: $font_primary !important;
}

.goog-menuseparator {
  border-top: 1px solid darken($background_menu, 5%) !important;
}
