$border_page_light: lighten($background_page, 8%);

// TODO - Need a better way to do this since can't tell difference between album art and particles
// .screensaver {
//   filter: contrast(100%) invert(75%) grayscale(50%) brightness(30%);
// }

// Scollables
paper-dialog-scrollable {
  button.suggestion {
    color: $font_secondary !important;
  }

  .download-dialog {
    color: $font_primary !important;

    .limit-text {
      color: $font_secondary !important;
    }
  }

  &.is-scrolled:not(:first-child)::before,
  &.can-scroll:not([style-scope]):not(.style-scope):not(.scrolled-to-bottom)::after {
    background: $border_page !important;
  }
}

// Visualizer Card
.visualizercard {
  background: $background_page;
  color: $font_primary;

  .label {
    color: $font_primary;
  }
}

// Google Labs
.labs-card {
  .lab-list-item {
    .lab-name {
      font-weight: 700;
    }

    .lab-description {
      color: $font_primary;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border_page;
    }
  }
}

// Shortcuts Table
.shortcuts-table {
  color: $font_primary;

  td,
  th {
    border-bottom: 1px solid $border_page;
    color: $font_primary;
  }
}

.shortcuts-dialog {
  tr {
    border-bottom: 1px solid $border_page_light;

    &:first-child {
      border-top: 1px solid $border_page_light;
    }
  }

  caption,
  td {
    color: $font_primary;
  }
}

// Suggested Query
.suggested-query {
  color: $font_primary;
}

// Album Art
.albumImage {
  border: 1px solid $border_page;
  background: $background_page;
}

// Loading Overlay
#loading-overlay.material,
#loading-overlay.material[data-type="full-loading-overlay"],
#loading-overlay.material[data-type="regular-loading-overlay"],
.core-overlay-backdrop.core-opened,
.zoomable-image-dialog-bg {
  background: rgba(lighten($background_dark, 15%), 0.8);
  opacity: 1;
}

.iron-overlay-backdrop-0 {
  background-color: rgba(lighten($background_dark, 15%), 0.8);
}

// Upload Music Dialog
.simple-dialog-bg,
.upload-dialog-bg,
.zoomable-image-dialog-bg {
  background: rgba(lighten($background_dark, 15%), 0.8);
}

.upload-dialog {
  background: $background_page;

  .upload-dialog-title-close {
    cursor: pointer;
  }

  .upload-dialog-title {
    color: $font_primary;
  }

  .upload-dialog-content {
    color: $font_primary;
  }
}

.upload-progress-finished-label,
.upload-progress-upload-label {
  color: $font_primary;
}

.upload-dialog-dragover {
  .upload-dialog-graphic {
    filter: grayscale(100%);
  }
}

// Explicit
.album-view .material-container-details .info .title .explicit,
.explicit,
.material .song-row .explicit,
.material-card .explicit,
.podcast-series-view .material-container-details .info .title .explicit {
  color: $background_card;
}

// Share Buttons
.share-buttons {
  border-bottom: 1px solid $border_page;

  .share-button .button-label {
    color: $font_primary;
  }
}

// Fade Gradient
.fade-out:after,
.material .fade-out.gray:after,
.material .fade-out:after {
  background: linear-gradient( to right, rgba($background_dark, 0) 0%, rgba($background_dark, 0.999) 100% );
  background-image: linear-gradient( to right, rgba($background_dark, 0) 0%, rgba($background_dark, 0.999) 100% );
}

core-icon[icon="sj:unsubscribe"] svg,
iron-icon[icon="sj:unsubscribe"] svg {
  path:nth-child(2) {
    fill: $font_primary;
  }
}

// Default album art & radio station background
.card[data-zoomable-image-url$="default_album.svg"] svg,
.material-card[data-type="album"] svg.image,
.material-card[data-type="wst"] .quilted-radio-fallback,
.material-card[data-type="wst"] .quilted-radio-fallback > *,
img[src$="default_album.svg"],
img[src$="default_album_art_song_row.png"],
img[src$="default_album_med.png"],
img[src$="default_playlist.svg"] {
  filter: invert(100%);
}

// Improve Recommendations
paper-header-panel #music-content .g-content {
  padding: 30px 0;
}

.nuq-view {
  & > h2 {
    color: $font_primary;
    margin-bottom: 25px;
  }

  .quiz-item-list {
    padding: 0 25px;
  }

  button.quiz-block {
    cursor: pointer;
    margin-bottom: 15px;

    .name {
      color: $font_primary;
    }
  }
}

.button-bar {
  background: $background_menu;
}
