.modal-show {
  #doc {
    filter: blur(3px);
  }
}

#play-midnight-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(lighten($background_dark, 8%), 0.4);
  z-index: 900;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;

  .modal-show & {
    visibility: visible;
    opacity: 1;
  }
}

#play-midnight-modal {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: calc(20vh);
  left: calc((100vw - 700px) / 2);
  width: 700px;
  height: calc(60vh);
  background: darken($background_menu, 3%);
  border-radius: 3px;
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1000;

  transition: all 0.75s;
  transform: translateY(-3%);
  opacity: 0;
  visibility: hidden;
  color: $font_primary;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: $background_menu;
    padding: 15px;
    margin: 0 -15px 20px;

    &:last-child {
      margin: 0;
    }
  }

  p {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: $font_primary;
  }

  .modal-show & {
    transform: scale3d(1, 1, 1) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal-header {
    text-align: center;
    background: lighten($background_dark, 8%);
    background: $color_accent;
    color: #fff;
    border-bottom: 1px solid $border_page;
    padding: 15px 25px;

    .pm-logo {
      height: 55px;
      width: auto;
    }

    h2 {
      background: none;
      padding: 0;
      margin: 5px 0 0;
    }

    h6 {
      background: none;
      padding: 5px;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .modal-content {
    position: relative;
    flex: 2;
    overflow: hidden;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.12);

    .content-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 24px 15px;
      text-align: center;
    }

    .text-center {
      text-align: center;
    }

    .image-header {
      text-align: center;

      img {
        width: 85px;
      }
    }

    p {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .featured-header {
      background: lighten($background_menu, 1%);
      padding: 10px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        background: transparent;
        padding: 0;
      }
    }

    .featured-section {
      margin: 0 -15px;

      .featured-content {
        padding: 15px 25px;
        border-top: 1px solid lighten($border_menu, 6%);
        border-bottom: 1px solid darken($border_menu, 2%);

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          background: transparent;
          padding: 0;
        }

        p {
          max-width: 300px;
        }
      }
    }
  }

  .modal-footer {
    background: $background_page;
    border-top: 1px solid $border_menu;
    padding: 15px 25px;
    text-align: center;
  }
}

// Temp Styles
#play-midnight-modal {
  .fab-preview {
    margin-bottom: 15px;
  }

  .play-midnight-preview-fab {
    width: 50px;
    height: 50px;
    margin: 15px auto;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    cursor: pointer;
    transition: all 0.3s;
    visibility: visible;
    transform: scale3d(1,1,1);
    opacity: 0.9;

    background: $color_accent;
    border-radius: 50%;

    &:hover {
      opacity: 1;
      transform: scale3d(1.1,1.1,1.1);
    }

    &:active,
    &:focus {
      opacity: 0.8;
      transform: scale3d(0.95,0.95,0.95);
    }

    .pm-preview-fab {
      position: relative;
      width: 100%;
      height: 100%;
      color: $background_dark;
      fill: currentcolor;
    }
  }
}
