.modal-show {
    #doc {
        filter: blur(3px);
    }
}

#play-midnight-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(lighten($background_dark, 8%), 0.4);
    z-index: 900;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;

    .modal-show & {
        visibility: visible;
        opacity: 1;
    }
}

#play-midnight-modal {
    position: fixed;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background: $background_menu;
    top: calc(20vh - 25px);
    left: calc((100vw - 700px) / 2);
    width: 700px;
    height: calc(60vh - 30px);
    border-radius: 3px;
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.75s;
    transform: translateY(-3%);
    opacity: 0;
    visibility: hidden;

    .modal-show & {
        transform: scale3d(1, 1, 1) translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .play-midnight-notification {
        display: flex;
        flex-flow: column;
    }

    .modal-content {
        flex: 2;
        text-align: center;
        overflow: auto;
        padding: 24px 15px;

        .image-header {
            text-align: center;

            img {
                width: 85px;
            }
        }

        p {
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .modal-footer {
        padding: 15px;
        text-align: center;
        border-top: 1px solid $border_menu;
        background: $background_page;
        box-shadow: 0 -5px 15px 0px rgba(0,0,0,0.12);
    }
}
