$background_nav_hover: lighten($background_nav, 3%);
$background_nav_drag: lighten($background_nav, 5%);

.nav-item-container,
#nav_collections .nav-item-container,
.playlists-container .nav-item-container {
    .owner-name {
        color: $font_secondary;
    }

    paper-icon-button iron-icon {
        color: $font_primary;
    }

    &:focus,
    &:hover,
    &.selected,
    &.selected:focus,
    &.selected:hover {
        background: $background_nav_hover;

        .fade-out:after {
            background: linear-gradient( to right, rgba($background_nav_hover, 0) 0%, rgba($background_nav_hover, 0.999) 100% );
        }
    }

    &.playlist-drag-target {
        background: $background_nav_drag;

        .fade-out:after {
            background: linear-gradient( to right, rgba($background_nav_drag, 0) 0%, rgba($background_nav_drag, 0.999) 100% );
        }
    }

    .fade-out:after {
        background: linear-gradient( to right, rgba($background_nav, 0) 0%, rgba($background_nav, 0.999) 100% );
    }
}

.nav-section-header {
    color: $font_secondary;
}

.nav-section-divider {
    border-bottom: 1px solid $border_nav;
}

#nav-container {
    background: $background_nav;

    .nav-toolbar {
        background: $background_nav;
    }

    #nav {
        background: $background_nav;
        border-top: 1px solid $border_page;
    }
}

.nav-toolbar {
    background: $background_nav_hover;
}

.my-devices-card .device-list-item:not(:last-child) {
    border-bottom: 1px solid $border_page;
}