$background_nav_hover: lighten($background_nav, 3%);
$background_nav_drag: lighten($background_nav, 5%);

#nav_collections .nav-item-container,
.nav-item-container,
.playlists-container .nav-item-container {
  .owner-name {
    color: $font_secondary;
  }

  paper-icon-button iron-icon {
    color: $font_primary;
  }

  &.selected,
  &.selected:focus,
  &.selected:hover,
  &:focus,
  &:hover {
    background: $background_nav_hover;

    .fade-out:after {
      background: linear-gradient( to right, rgba($background_nav_hover, 0) 0%, rgba($background_nav_hover, 0.999) 100% );
    }
  }

  &.playlist-drag-target {
    background: $background_nav_drag;

    .fade-out:after {
      background: linear-gradient( to right, rgba($background_nav_drag, 0) 0%, rgba($background_nav_drag, 0.999) 100% );
    }
  }

  .fade-out:after {
    background: linear-gradient( to right, rgba($background_nav, 0) 0%, rgba($background_nav, 0.999) 100% );
  }
}

.nav-section-header {
  color: $font_secondary;
}

.nav-section-divider {
  border-bottom: 1px solid $border_nav;
}

.new-playlist-drawer {
  #nav-container {
    background: $background_nav;

    .nav-toolbar {
      background: $background_nav;

      .toolbar-tools {
        padding: 0 10px;
      }

      .menu-logo {
        background-image: url('{CHROME_DIR}/images/play_music_logo_dark.png');
      }
    }

    #nav {
      background: $background_nav;
      border-top: 1px solid $border_page;
    }
  }
}


// Playlist
sj-right-drawer #drawer.sj-right-drawer {
  background: $background_nav;
}

#playlist-drawer {
  #recent-playlists-container,
  .autoplaylist-section {
    border-bottom-color: $border_page;
  }

  .playlist-drawer-item {
    .playlist-wrapper {
      &:active,
      &:focus,
      &:hover {
        background: $background_nav_hover;
      }
    }
  }
}

#playlist-drawer .playlist-drawer-item .playlist-wrapper:focus,
#playlist-drawer .playlist-drawer-item .playlist-wrapper:hover,
#playlist-drawer .playlist-drawer-item iron-icon:hover~.playlist-wrapper,
#playlist-drawer .playlist-drawer-item sj-play-button:hover~.playlist-wrapper,
#playlist-drawer .playlist-drawer-item.playlist-drop-target:not(.subscribed) .playlist-wrapper {
  background: $background_nav_hover;
}

#playlist-drawer paper-header-panel paper-toolbar:not([style-scope]):not(.style-scope) {
  background: $background_nav;
}

#playlist-drawer paper-header-panel[at-top] paper-toolbar:not([style-scope]):not(.style-scope) {
  border-bottom-color: $border_page;
}

.nav-toolbar {
  background: $background_nav_hover;
}

.my-devices-card .device-list-item:not(:last-child) {
  border-bottom: 1px solid $border_page;
}
