#player {
	background: $background_player;
	color: $font_primary;
}

#player.material .player-rating-container {
	background: $background_player;
}

#player.material:hover #material-player-progress::shadow #sliderContainer:not(.disabled) #sliderBar::shadow #progressContainer {
	background: lighten($background_player, 5%);
}

paper-slider::shadow #sliderBar::shadow #progressContainer {
	background: $background_light;
}

paper-slider::shadow .ring > #sliderKnob > #sliderKnobInner {
	background: $background_player;
	border: 2px solid $background_light;
}

#player.material .material-player-middle sj-icon-button[data-id="play-pause"][disabled] {
	opacity: 0.75;
}

#player.material .material-player-middle sj-icon-button[data-id="play-pause"]::shadow core-icon {
	g {
		path:nth-child(2) {
			fill: $background_player;
		}
	}
}
