#pm-options {
	display: flex !important;
	top: 20px;
  right: 20px;
  bottom: 110px;
  width: 600px;
  height: calc(100vh - 110px - 20px);
	margin: 0;
  border-radius: 3px;
  z-index: 602;
	color: $font_primary;
	transform-origin: 900px 50%;
	transform: scale(0);
	transition: transform 0.5s;

	&.visible {
		transform: scale(1);
	}

	&:after {
		content: "";
	  position: absolute;
	  width: 0;
	  height: 0;
	  box-sizing: border-box;
	  top: calc((100% / 2) + 12px);
		right: -16px;
	  transform-origin: 0 0;
	  transform: rotate(-135deg);
		border: 8px solid black;
		border-color: transparent transparent $background_menu $background_menu;
	  box-shadow: -12px 12px 15px 0px rgba(0,0,0,.24);
	}
}
