$background_menu_hover: lighten($background_menu, 3%);
$background_menu_zebra: lighten($background_menu, 1%);

#queue-overlay,
paper-dialog {
	background: $background_menu;

	.song-row {
		&.currently-playing {
			img {
				visibility: hidden;
			}
		}

		.song-indicator {
			background-color: $background_menu;
		}
		
		&:nth-child(odd) {
			td,
			.content,
			.title-right-items {
				background: $background_menu_zebra;
			}
			
			.song-indicator {
				background-color: $background_menu_zebra;
			}
			
			.fade-out:after {
				background: linear-gradient( to right, rgba($background_menu_zebra, 0) 0%, rgba($background_menu_zebra, 0.999) 100% );
			}
		}

		&.hover td,
		&.selected-song-row td,
		&.hover .content,
		&.selected-song-row .content,
		&.hover .title-right-items,
		&.selected-song-row .title-right-items {
			background-color: $background_menu_hover !important;

			.fade-out:after {
				background: linear-gradient( to right, rgba($background_menu_hover, 0) 0%, rgba($background_menu_hover, 0.999) 100% );
			}
		}

		&.hover .song-indicator {
			background-color: $background_menu_hover;
		}
	}

	.song-row td,
	.song-row .content,
	.song-row .title-right-items,
	.upload-progress-row td {
		background-color: $background_menu;
		color: $font_primary;

		.fade-out:after {
			background: linear-gradient( to right, rgba($background_menu, 0) 0%, rgba($background_menu, 0.999) 100% );
		}
	}

	&:after {
		border-color: transparent transparent $background_menu $background_menu;
	}

	#mini-queue-details .imfl-image {
		filter: grayscale(100%);
	}
}
