$background_page_zebra: lighten($background_page, 1%);

.song-table {
  &[data-type="srbm"] {
    border-top: 1px solid $background_page_border;
  }

  .song-row {
    background: $background_page;
    color: $font_primary;

    td a {
      color: $font_secondary;
    }

    [data-col="index"] .hover-button[data-id="play"],
    [data-col="track"] .hover-button[data-id="play"] {
      background-color: transparent;
    }

    .rating-container.thumbs li {
      background-color: transparent;
      filter: invert(100%);
    }

    .column-content,
    .content,
    .title-right-items,
    td {
      background-color: $background_page !important;
      color: $font_primary !important;
    }

    &.currently-playing {
      td[data-col="title"] {
        color: $font_primary !important;
      }
    }

    .song-details-wrapper .song-artist-album,
    .song-details-wrapper .song-artist-album a {
      color: $font_secondary;
    }


    .song-indicator {
      background-color: $background_page !important;
      background-size: 24px 24px !important;
    }

    .song-indicator[data-playback-status="loading"] {
      background-image: url('{CHROME_DIR}/images/sprites/ani_loading_white.gif');
    }

    .song-indicator[data-playback-status="playing"] {
      background-image: url('{CHROME_DIR}/images/sprites/ani_equalizer_white.gif');
    }

    .song-indicator[data-playback-status="paused"] {
      background-image: url('{CHROME_DIR}/images/sprites/equalizer_white.png') !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
    }

    .fade-out:after {
      background: linear-gradient( to right, rgba($background_page, 0) 0%, rgba($background_page, 0.999) 100% );
    }

    &:nth-child(odd) {
      .column-content,
      .content,
      .title-right-items,
      td {
        background-color: $background_page_zebra !important;
      }

      .song-indicator {
        background-color: $background_page_zebra !important;
      }

      .fade-out:after {
        background: linear-gradient( to right, rgba($background_page_zebra, 0) 0%, rgba($background_page_zebra, 0.999) 100% );
      }
    }

    &.hover,
    &.selected-song-row,
    &:hover {
      .column-content,
      .content,
      .title-right-items,
      td {
        background-color: $background_page_hover !important;
      }

      .song-indicator {
        background-color: $background_page_hover !important;
      }

      .fade-out:after {
        background: linear-gradient( to right, rgba($background_page_hover, 0) 0%, rgba($background_page_hover, 0.999) 100% );
      }
    }

    &.currently-playing,
    &.hover,
    &:hover {
      [data-col="index"],
      [data-col="track"] {
        .column-content,
        .content {
          font-size: 0;
        }
      }
    }
  }

  &.mini [data-col="song-details"] .song-details-wrapper .song-title,
  [data-col="title"],
  th {
    color: $font_primary;
  }
}

.upload-progress-row td {
  background: $background_page;
  color: $font_primary;
  border-top: 1px solid $background_page_border;
}

.upload-progress-bar-thumb {
  background: lighten($background_page, 8%);
  color: $font_primary;
}

.upload-progress-upload-icon-arrow,
.upload-progress-upload-icon-bar {
  filter: grayscale(100%);
}

.cluster-text-protection {
  background: $background_dark;

  &:before {
    width: 100%;
    background: $background_dark;
  }
}

// Download Styles
.song-transfer-table-container {
  .song-transfer-table-row {
    border-bottom: 1px solid $background_page_border;
  }
}

.progress-bar-vertical,
.progress-bar-horizontal {
  background: lighten($background_page, 8%);
  border: 1px solid $background_page_border;
}
