@import 'variables';
@import 'modal';

#pm-options {
  position: fixed;
  display: flex;
  flex-flow: column;
  left: calc(50vw - 300px);
  bottom: 110px;
  width: 600px;
  height: calc(100vh - 110px - 137px);
  max-height: 750px;
  margin: 0;
  border-radius: 3px;
  z-index: 599;
  color: $font_primary;
  transform-origin: center bottom 0;
  transform: scale(0);
  transition: transform 0.3s;
  background: $background_menu;
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);

  .is-pm-options & {
    transform: scale(1);
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    left: calc(100% / 2 - 8px);
    bottom: -8px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    border: 8px solid black;
    border-color: transparent transparent $background_page $background_page;
    box-shadow: -12px 12px 15px 0 rgba(0,0,0,.24);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: lighten($background_dark, 3%);
    margin: 0;
    padding: 15px 25px;

    span {
      font-weight: 100;
    }

    .subtitle {
      font-size: 14px;
    }
  }

  a {
    color: $font_primary;
  }

  header {
    text-align: center;
    background: lighten($background_dark, 8%);
    border-bottom: 1px solid $border_page;
    padding: 15px 25px;

    .pm-logo {
      height: 50px;
      width: auto;
    }

    h1 {
      background: none;
      padding: 0;
      margin-top: 10px;
    }

    h6 {
      background: none;
      padding: 5px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  section {
    position: relative;
    flex: 2;
    overflow: hidden;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.12);

    .options-container {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: auto;
    }

    .save-dialog {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color_accent;
      padding: 10px 15px;
      color: #fff;
      text-align: center;
      transform: translateY(100%);
      transition: all 0.5s;

      &.visible {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }
    }

    .play-midnight-collection .details,
    .play-midnight-option,
    .play-midnight-text-area {
      display: flex;
      padding: 15px 20px;

      &:not(:last-child) {
        border-bottom: 1px solid $border_menu;
      }

      .option-info {
        flex: 1;
        margin-right: 32px;
      }

      .option-name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .option-description {
        font-weight: 300;
      }

      paper-button {
        margin-top: 5px;
      }

      paper-button {
        display: flex;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        fill: $font_primary;

        &::shadow .button-content {
          height: 15px;
          width: 15px;
        }
      }
    }

    .play-midnight-collection {
      .details {
        paper-button {
          padding: 15px;

          svg {
            width: 24px;
            height: 24px;
            margin: 0 auto;
            fill: currentcolor;
          }
        }
      }
    }

    .play-midnight-text-area {
      display: block;

      p {
        margin: 0 0 15px;

        &:last-child {
          margin: 0;
        }
      }
    }

    .collection {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      perspective: 1000;

      .collection-item {
        }
    }

    form.add-new {
      padding: 0 25px;
      opacity: 0;
      visibility: hidden;
      transform: scale3d(0.95, 0.95, 0.95);
      max-height: 0;
      transition: all 0.5s;
      overflow: hidden;

      &.visible {
        opacity: 1;
        visibility: visible;
        transform: scale3d(1, 1, 1);
        max-height: 500px;
      }

      paper-input {
        padding-bottom: 0;
        font-size: 14px;
      }

      .form-action {
        padding: 25px 0;
        text-align: center;
      }
    }

    .collection-item.accent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex: 1;
      min-width: 150px;
      height: 85px;
      transition: all 0.5s;
      cursor: pointer;
      overflow: hidden;

      input {
        display: none;
      }

      .fields {
        visibility: hidden;
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
        text-shadow: 1px 1px 0 $background_dark;
        transition: all 0.5s;
        color: #fff;
        padding: 8px 10px;
        text-align: center;
      }

      .field-color {
        display: none;
      }

      &:after {
        position: absolute;
        content: 'CURRENT ACCENT';
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.25);
        color: #fff;
        text-shadow: 1px 1px 0 $background_dark;
        padding: 3px 10px;
        font-size: 10px;
        text-align: center;
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0;
        transition: all 0.5s;
      }

      &.selected {
        &:after {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }
      }

      &:hover {
        .fields {
          transform: scale3d(1, 1, 1);
          visibility: visible;
          opacity: 1;
        }

        .remove-item {
          opacity: 0.8;
          transform: scale3d(1, 1, 1) rotate(0deg);
        }
      }

      .remove-item {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
        opacity: 0;
        transform: scale3d(0.75, 0.75, 0.75) rotate(-45deg);
        transition: all 0.5s;

        &:after,
        &:before {
          position: absolute;
          display: block;
          content: '';
          background: #fff;
          box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
          transform: rotate(45deg);
          transition: all 0.5s;
        }

        &:before {
          top: 7px;
          width: 16px;
          height: 2px;
        }

        &:after {
          left: 7px;
          width: 2px;
          height: 16px;
        }

        &:hover {
          transform: scale3d(1.2, 1.2, 1.2);
          opacity: 1;

          &:after,
          &:before {
            background: #a61a2b;
          }
        }
      }

      &:active,
      &:focus {
        opacity: 0.9;
      }
    }

    h4.subtitle {
      margin-top: 15px;
      padding: 0;
      background: transparent;
    }
  }

  footer {
    background: $background_page;
    border-top: 1px solid $border_menu;
    padding: 15px 25px;
    text-align: center;
  }
}

.play-midnight-fab {
  position: fixed;
  bottom: 105px;
  right: 24px;
  width: 50px;
  height: 50px;
  z-index: 500;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  transition: all 0.3s;
  visibility: hidden;
  transform: scale3d(0.5,0.5,0.5);
  opacity: 0;

  background: $color_accent;
  border-radius: 50%;

  .play-midnight-active & {
    visibility: visible;
    transform: scale3d(1,1,1);
    opacity: 0.9;
  }

  &:hover {
    opacity: 1;
    transform: scale3d(1.1,1.1,1.1);
  }

  &:active,
  &:focus {
    opacity: 0.8;
    transform: scale3d(0.95,0.95,0.95);
  }

  .fab-icon {
    position: relative;
    width: 100%;
    height: 100%;
    color: $background_dark;
    fill: currentcolor;
  }
}
